#nav { display: none; }
#subnav { display: none; }
#fadeout { display: none; }
#sidebar { display: none; }
#header { display: none; }
#footer { display: none; }
#main { margin: 0 auto; float: none; padding: 0; }
#content { min-height: none; margin-top: 0; }