@font-face {
    font-family: 'bad_scriptregular';
    src: url('../fonts/badscript-regular-webfont.eot');
    src: url('../fonts/badscript-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/badscript-regular-webfont.woff') format('woff'),
         url('../fonts/badscript-regular-webfont.ttf') format('truetype'),
         url('../fonts/badscript-regular-webfont.svg#bad_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'romanescoregular';
    src: url('../fonts/romanesco-regular-webfont.eot');
    src: url('../fonts/romanesco-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/romanesco-regular-webfont.woff') format('woff'),
         url('../fonts/romanesco-regular-webfont.ttf') format('truetype'),
         url('../fonts/romanesco-regular-webfont.svg#romanescoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



* { 
	margin: 0; 
	padding: 0; 
	font-family: Helvetica,Arial,Tahoma,sans-serif; 
	outline:none;	
	max-height: 999999px;
}
html { 
     -webkit-text-size-adjust:none;  
}
body {
    background-color:#efefef;
    font-size:12px;
    color:#706f6f;
    line-height:18px;
}

.content-right a.download_foodplan {
    background: transparent url("../images/foodplan-bg.jpg") no-repeat scroll 0 0;
    color: #706f6f;
    display: inline-block;
    height: 50px;
    margin: 9px 9px 9px 0px;
    padding-left: 13px;
    padding-top: 13px;
    text-align: left;
    width: 36%;
}

.full {
    width: 100%;
}

/***************** Header ****************/

header .top {
	padding: 60px 20px 60px 20px;
	overflow: hidden;
	position: relative;
}

header .logo {
	float: left;
	width: 50%;
	margin-left: 10px;
}

header .logo #logo {
	display: block;
	background-image: url('../images/logo.png');
	width: 358px;
	height: 45px;
	outline: none;
}

#langsearch {
	float: right;
	width: 234px;
	height: 45px;
}
#langpick {
  background-image: url('../images/search_arrow.png');
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 12px;
  color: #706f6f;
  font-size: 9px;
  float: right;
  margin-top: 31px;
}
#langpick select {
  font-size: 9px;
  margin-left:3px;
  padding: 2px 2px 2px 2px;
  border: 1px solid #ddd;
  width: 115px;
}





/***************** Sub Navigation ****************/


#subnav > li {
    float:left;
    border-right: 1px solid #706f6f;
    padding-right:8px;
    margin-right:8px;
    margin-bottom:5px;
    margin-top:5px;
    line-height:11px;
}
.ie7 #subnav > li {
    line-height:15px;
    float:none;
    display:inline;
}

#subnav > li.last {
    border:none;
}

#subnav  li a {
    font-size:14px;
    color:#706f6f;
	text-decoration:underline;
}
#subnav li a:hover,  #subnav li a.active, #subnav li.active a,#subnav li a.active-trail, .dropdown-menu .active-trail {
    color:#f18800 !important;
	background:none !important;
}

#subnav li.active a {
    text-decoration:none;
}

#subnav .withSubMenu {
    position: relative;
}

#subnav > .withSubMenu > a {
	position:relative;
	 z-index:5;
     /*background  : url(../images/arrow-down.png) right center no-repeat;
	padding-right:18px;
   */
	
}

#subnav > .withSubMenu > a > span.right-caret {
	background: url(../images/arrow-down.png) right center no-repeat;
	padding-right: 12px;
	float: right;
	width: 14px;
	height: 10px;
	position:relative;
}

#subnav .sub-dropdown {
    display:none;
    position:absolute;
    z-index:4;
    left:-15px;
    top:-10px !important;
    list-style: none;
    padding: 30px 20px 10px 20px;
    margin:0;
    width: 110%;
    min-width:103px;
    
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%,#efefef 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
    background-position: 0 0 !important;
    -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /* Firefox/Mozilla */  
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /*Safari/Chrome */  
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /* Opera & hoe het zou moeten */  
}

.ie8 #subnav .sub-dropdown , .ie7 #subnav .sub-dropdown   {
    filter:progid:DXImageTransform.Microsoft.Shadow(color='#eeeeee',direction='0',strength='2')
    progid:DXImageTransform.Microsoft.Shadow(color='#eeeeee',direction='90',strength='2')
    progid:DXImageTransform.Microsoft.Shadow(color='#eeeeee',direction='180',strength='2') progid:DXImageTransform.Microsoft.Shadow(color='#eeeeee',direction='270',strength='2');
    margin-left:-2px;
}

#subnav .sub-dropdown li {
    margin-top:5px;
    margin-bottom:5px;
    background: url(../images/arrow-side-nav.png) left 6px no-repeat;
    padding-left:12px;
    line-height:18px;
}

.sbox h1 {
	  font-weight: bold;
	  font-size: 30px;
	  color: #fff;	  
	  text-align: center;
	  text-transform: uppercase;
	  line-height: normal;
	  margin-top:0;
}

/***************** Content ****************/

.content-bg{	
	padding-bottom:30px;	
	position: relative;
}

.mobile-breadcrumb{
	background-color:#FEF1E0;
	padding:3px 15px;
}
.mobile-breadcrumb a{
	font-size: 12px;
	color: #706f6f;
}

.mobile-breadcrumb a.active{
	font-weight:bold;
}

.mobile-breadcrumb span{
	display:inline-block;
	padding:0 5px;
}

/* Inner page table */
table.content_enrichment tbody tr td.border-right {
    border-right: 1px solid #666 !important;
}

table.content_enrichment tbody tr td.bordertop {
    border-top: 1px solid #666;
}

table.content_enrichment tbody tr td.border-right-light {
    border-right: 1px solid #999 !important;
}

table.content_enrichment tbody tr td.white-on-orange {
    font-weight: bolder;
    color: #FFF;
    background-color: #F90;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}

table.content_enrichment {
    border: 1px solid #666;
    border-collapse: collapse;
    margin-bottom: 15px;
    width: 100%;
}


td, th {
    padding: 0.3em .5em;
}

table.content_enrichment tbody tr td.grey {
    background-color: #DDD;
    color: #333;
    border-bottom: 1px solid #999;
}

table.content_enrichment tbody tr td.lightgrey {
    background-color: #EEE;
    color: #333;
    border-bottom: 1px solid #999;
}
table.content_enrichment tbody tr td.orange-on-white {
    color: #F90;
    font-weight: bolder;
    border-bottom: 1px solid #999;
    border-right: 1px solid #999;
}
/* Inner page table */

/***************** Content Left Side ****************/

.content-left{
	margin-top:40px;	
}

.region-sidebar-middle , .region-sidebar-bottom, .region-sidebar-top {
	border-right:1px solid #e3e3e3;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    min-height: 20px;
}

.region-sidebar-bottom, .region-sidebar-top {
    padding: 0px;
}

.region-sidebar-middle {
    border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
    background-color: #f5f5f5;
}

.region-sidebar-bottom .views-row {
  border-bottom:0px !important;
}
.content-left .left-head {
  font-size: 16px;
  font-weight: bold;
  color: #706f6f;
  line-height: 22px;
  padding-bottom: 5px;
  padding-left: 10px;
  text-decoration: none;
}


.content-left .levelthreenav ul {
    list-style:none;
    padding:0;
    margin:0;   
}
.content-left .levelthreenav ul li {
    padding-bottom:10px; 
	padding-left: 10px;	
}
.content-left .levelthreenav ul li a {
    font-size:13px;
    color:#706f6f;
    line-height:17px;
    background: url(../images/arrow-side-nav.png) left 5px no-repeat;
    padding-left:15px;
}

.content-left .levelthreenav ul li.active a {
    color:#f18800;
    text-decoration:none;
}

.content-left .levelthreenav ul li.active a:hover {
    color:#706f6f;
}

.content-left .levelthreenav ul li a:hover {
    color:#fda432;
}

.left-box-content{
	 padding-bottom:20px;
}

.left-box-content .en .views-row{
  background: none;
  width: 100%;
  height: auto;
  margin: 0;
  box-sizing: initial;
  text-transform: none;
  overflow: hidden;
  padding: 38px 0 30px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .05); 
  display: block;
}

.left-box-content .en .view-xls-sidebar-specialized-products .views-row-even {
  border-bottom:none;
}

.left-box-content a {
  text-decoration: none;
}
.left-box-content .en .view-id-xls_sidebar_general_products .views-row-odd .title {
  background: transparent url(../images/sidebar_arrow_red.png) 130px 4px no-repeat;
}
.left-box-content .en .view-id-xls_sidebar_general_products .views-row-odd .title a {
  color: #ed2028;
}
.left-box-content .en .title  a {
  font-size: 13px;
  line-height: normal;
  font-size: bold;
  margin-top: 0;
  font-weight: bold;
}

.left-box-content .en .view-id-xls_sidebar_general_products .views-row-even .title  a {
  color: #8cc63f;

}

.left-box-content .en  div.left a{
  color: #484848 !important;
  font-size: 12px;
  line-height: normal;
  font-weight: normal;
  text-transform: none;
  margin-top:10px;
}

.left-box-content .en  div.left{
  float:left;
}

.left-box-content .en .region-sidebar-middle div.right {
  float:right;
}

.left-box-content .en .view-id-xls_sidebar_general_products .views-row-even .title {
  background: transparent url(../images/sidebar_arrow_green.png) 100px 4px no-repeat;
  padding-top: 0;
  text-transform: none;
}
.left-box-content .en .view-id-xls_sidebar_general_products .views-row-even .title a{
  color: #8cc63f;
}

.left-box-content .en .products {
  margin: 0;
  background: none;
  width: 100%;
  height: auto;
}

.left-box-content .en h2.block-title {
  padding: 25px 5px;
  font-weight: bold;
  font-size: 13px;
  line-height: normal;
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  text-transform:uppercase;
  margin:0px;
}

.left-box-content .en .products .single_block {
  background-color: #e9e9e9;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.05) inset, 0px 1px 0px 0px rgba(255, 255, 255, 1);

}

.left-box-content .en .view-xls-sidebar-specialized-products .views-row-odd .title {
  background: transparent url(../images/sidebar_arrow_purple.png) 100px 4px no-repeat;
}
.left-box-content .en .view-xls-sidebar-specialized-products .views-row-odd .title a{
  color: #702281;
}

.left-box-content .en .view-xls-sidebar-specialized-products .views-row-even .title {
  background: transparent url(../images/sidebar_arrow_blue.png) 125px 4px no-repeat;
}
.left-box-content .en .view-xls-sidebar-specialized-products .views-row-even .title a{
  color: #079fe3;
}

/*********** inspiration *******************/
.blok.inspiration {
	width:95%;
	margin:auto;
	min-height: 320px;
	margin-top:20px;
}
.blok.inspiration img{
	width:100%;
}
.blok.inspiration .text {
	font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
	color: #3b3b3b;
	padding:0 10px;
}

.blok.inspiration a.link  {
    background: url("../images/ico-arrow-black.png") no-repeat scroll right center rgba(0, 0, 0, 0);  
    color: #3b3b3b;
    display: block;    
    font-weight: bold;
    height: auto;
    margin-right: 15px;
	margin-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    text-decoration: none;
}
.blok.inspiration a:hover {
	text-decoration: underline;
}

.blok.testimonial-sidebar {
	width:95%;
	margin:auto;
	min-height: 370px;
	margin-top:20px;
}
.blok.testimonial-sidebar img{
	width:80%;
	margin: 0 auto;
	display: block;
	padding-top: 20px;
	
}
.blok.testimonial-sidebar .title{
	font-size: 13px;
	font-weight: bold;
	color: #545454;
	padding: 15px 20px 0 20px;
	margin: 0;
}
.blok.testimonial-sidebar .text{
	padding: 5px 20px;
}
.blok.testimonial-sidebar a.link  {
    background: url("../images/ico-arrow-black.png") no-repeat scroll right center rgba(0, 0, 0, 0);  
    color: #3b3b3b;
    display: block;    
    font-weight: bold;
    height: auto;
    margin-right: 15px;
	margin-top: 10px;
    padding-left: 10px;
    padding-right: 20px;
    text-decoration: none;
}


/*********** inspiration *******************/

/***************** Content Right Side ****************/


.content-right{	
	min-height: 748px;
}

.content-right .hr { 
	background: transparent url('../images/dots.png'); 
	height: 2px;  
	margin: 30px 0; 
	line-height: 0; 
	font-size: 0; 
	clear: both; 
}

.content-right h1,.content-right h2, .content-right h3, .content-right h4, .content-right h5, .content-right h6 { 
    font-weight: normal; 
}

.content-right h1 { font-size: 170%; }
.content-right h3 { font-size: 140%; }
.content-right h4 { font-size: 130%; }
.content-right h5 { font-size: 120%; }
.content-right h6 { font-size: 110%; }

.content-right ul li {
    padding: 0 0 10px 10px; 
    list-style-type: none; 
    list-style-image: none;
    background: transparent url('../images/list_arrow_yellow.png') no-repeat 1px 4px;
    _background-position: -5px 4px;
	position: relative;
}

.content-right p {
    margin: 8px 0;
}

.content-right a, .content-right a:link, .content-right a:visited, .block-block a, .block-xls_goals a {
    text-decoration:none;
    color: #f49800;
}

.content-right a:hover, .block-block a:hover, .block-xls_goals a:hover {
    text-decoration:underline;
}

.content-right .button { 
    background: url("../images/arrow_gray.png") no-repeat scroll 8px 6px transparent; 
    border: 1px solid #EEEEEE; 
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -ms-border-radius: 5px; 
    -o-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    line-height: 20px; 
    margin: 8px 0; 
    padding: 3px 12px 3px 24px;
}

.content-right .button a, .content-right .button a:link, .content-right .button a:visited { 
    color: #a3a2a2;
    font-size: 12px;
    text-decoration: none;
    outline: none;
}

 .content-right .button a:hover {
     text-decoration:underline;
 }

.content-right .title h2 {
    font-size:18px;
    font-weight:bold;
}
/* Fat Binder */
.loseupto{
	font-size:36px;
	color:#f18800;
	line-height:36px;
	text-align:center;
	margin-bottom:15px;"
}

.loseuptospan{
	font-size: 50px;
}

.loseuptop{
	font-size:25px;
	color:#f18800;
	line-height:26px;
	text-align:center;
}

.loseuptospan2{
	float:left;
	margin:18px 0 0 8px;
	font-size:23px;
	color:#6eb429;
	line-height:23px;
}


.fat-binder-direct .so-easy .disclaimer {
   	font-size: 11px;
    line-height: 11px;
    margin-left: 40px;
}

.fat-binder-direct .so-easy ul {
    color: #fff;
    margin: 10px 0 0 10px;
}

.fat-binder-direct .so-easy ul li {
    list-style-type: disc;
    background: none;
    padding: 0;
    margin: 0 0 5px 0;
}

.fat-binder-direct .triple-action {
	-webkit-border-radius: 5px;
	width: 100%;
    margin: 15px 0 15px 0;
    padding: 20px;
    color: #FFF;

    background: #46A734; /* Old browsers */
    background: -moz-linear-gradient(top, #46A734 0%, #8FBF21 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46A734), color-stop(100%,#8FBF21)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #46A734 0%,#8FBF21 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #46A734 0%,#8FBF21 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #46A734 0%,#8FBF21 100%); /* IE10+ */
    background: linear-gradient(to bottom, #46A734 0%,#8FBF21 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46A734', endColorstr='#8FBF21',GradientType=0 ); /* IE6-9 */
    background-position: 0 0 !important;
    -moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /* Firefox/Mozilla */  
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /*Safari/Chrome */  
  box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /* Opera & hoe het zou moeten */ 
   
}

.fat-binder-direct .triple-action .title {
    border-bottom: 1px solid #23A121;
    padding-bottom: 8px;
    margin-bottom: 0;
    font-size: 15px;
    font-weight: bold;
}

.triple-action ul li{
 	background: transparent url(../images/list_arrow_white.png) left 5px no-repeat;
   }

.direct_woman {
    height: 53px;
    background: url('../images/direct_woman.png') no-repeat;
    padding-left: 238px;
    padding-top: 200px;
    margin: 325px;
}

.soeasy{
	line-height:23px;
	font-size:23px;
}
/* Fat binder */
/* Code form BMI */
#calculatebmi {
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
    background: #A139FF;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #ffa839 0%, #f18700 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa839), color-stop(100%,#f18700));
    background: -webkit-linear-gradient(top, #ffa839 0%,#f18700 100%);
    background: -o-linear-gradient(top, #ffa839 0%,#f18700 100%);
    background: -ms-linear-gradient(top, #ffa839 0%,#f18700 100%);
    background: linear-gradient(to bottom, #ffa839 0%,#f18700 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa839', endColorstr='#f18700',GradientType=0 );
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
	color:#ffffff;
}

.results, #calculatebmi {
    color: #FFFFFF;
}

.results-bmi > div {
    padding: 10px 20px 20px 20px;
    margin-bottom: 40px;
    border-radius: 5px;
}

.results-bmi h1 {
	font-weight: bold;
	font-size: 18px;
	text-transform: uppercase;
	margin-bottom: 5px;
}

.results-bmi div.underweight {
    background: linear-gradient(to bottom, #6dc9ee 0%,#6dc9ee 100%);
}
.results-bmi div.healthy {
    background: linear-gradient(to bottom, #96c11f  0%,#96c11f 100%);
}
.results-bmi div.overweight {
    background: linear-gradient(to bottom, #ffa839   0%,#ffa839   100%);
}
.results-bmi div.obese {
    background: linear-gradient(to bottom, #e2001a   0%,#e2001a   100%);
}

media="all"
.results h1, #calculatebmi .title h2 {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, Tahoma, sans-serif;
    outline: none;
    max-height: 999999px;
}

#calculatebmi input {
    border: none;
    background: url(../images/bg-bmi-input.png) 0 0 no-repeat;
    height: 32px;
    width: 54px;
    padding: 0 4px;
    margin-right: 5px;
	color:#000000;
}

media="all"
.blok .button a, #calculatebmi .button a {
    background: url(../images/ico-arrow-white.png) right center no-repeat;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 15px 10px 0px;
}

#calculatebmi .button .btn-center {
    background: url(../images/btn-block-green.png) 0 0 repeat-x;
}

.content-right #calculatebmi .button .btn-center {
    padding: 6px 4px 7px 4px;
	text-align:center;
}

media="all"
.blok .button .btn-left, .blok .button .btn-right, .content-right #calculatebmi .button .btn-left, .content-right #calculatebmi .button .btn-right {
    background: url(../images/btn-block-orange-left.png) 0 0 no-repeat;
    height: 33px;
    width: 8px;
    float: left;
}
.content-right .button {
    background: url("../images/arrow_gray.png") no-repeat scroll 8px 6px transparent;
    border: 1px solid #EEEEEE;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 20px;
    margin: 8px 0;
    padding: 3px 12px 3px 24px;
}
#calculatebmi .button .btn-center {
    background: url(../images/btn-block-green.png) 0 0 repeat-x;
}



.content-right #calculatebmi .button {
    float: right;
    background: none;
    border: none;
    position: relative;
	margin:0px !important;
}

.content-right #calculatebmi .button a{
    color: #fff;
    font-size: 12px;
    font-weight: bold;
	text-decoration: none;
    text-transform: uppercase;
}

#calculatebmi .button .btn-left {
    background: url(../images/btn-block-green-left.png) 0 0 no-repeat;
}

.content-right .button a, .content-right .button a:link, .content-right .button a:visited {
    color: #ffffff;
    font-size: 12px;
    text-decoration: none;
    outline: none;
}

media="all"
.blok .button .btn-left, .blok .button .btn-right, .content-right #calculatebmi .button .btn-left, .content-right #calculatebmi .button .btn-right {
    background: url(../images/btn-block-orange-left.png) 0 0 no-repeat;
    height: 33px;
    width: 8px;
    float: left;
}

#calculatebmi .button .btn-right {
    background: url(../images/btn-block-green-left.png) 0 0 no-repeat;
    height: 33px;
    width: 8px;
    float: left;
	margin: -33px -8px 0px -8px;
}

#calculatebmi .button .btn-left {
    background: rgba(0, 0, 0, 0) url("../images/btn-block-green-right.png") no-repeat scroll 0 0;
    float: right;
    height: 33px;
    margin: 0 -8px 0 0;
    width: 8px;
}


/* Code for BMI */
/* Code for Contact */
#contactinfo .address {
    position: relative;
    background: none;
    border: 1px solid #CCC;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-border-radius: 10px;
    height: 194px;	
    text-align: left;
	padding-left: 20px;
    padding-top: 15px;    
	margin-left: 20px;
	width:50%;
}


#contactinfo .location {
    /*float: right; */
    /* width: 202px; */
    height: 194px;
    background-repeat: no-repeat;
    background-image: url('../images/contact_visual.png');
    /* margin: 0px -357px 0px 0px; */
    margin-top: -196px;
    margin-left: 55%;
}

.content-box-1 .play{
    position:relative;
}
.content-box-1 .blok .img img{
    width: 100%; 
    height: 174px;  
 }
 .testimonial .play-btn {
    position: absolute;
    left: 0;
    top: 0;
    background: url('../images/play.png') no-repeat center;
	width:250px;
	height:180px
}
.testimonial .copy.small {
    width: 60%;
    font-size:12px;
    }
/* code for contact */

/***************** Footer ****************/

footer{
	  height: 100%;
	  background: url(../images/bg-footer-orange.jpg) 0 0 repeat;
}

footer .links {
    float:left;
	vertical-align:middle;	
}
footer .links a { 
    font-size:12px;
    text-decoration:none;
	display: inline-block; 
}

footer .links a:hover {
    text-decoration:underline;
}

footer .logo {
    float:right;
	padding-right: 20px;
}

footer .bold{
	font-size:16px;
	font-weight:bold;
	display: inline-block; 
	height: 52px;
	line-height: 52px;
	vertical-align:middle;
}






@media only screen and (min-width: 992px) {

	/***************** Menu Navigation ****************/
	#subnav {
		background: #fff url(../images/bg-subnav.jpg) 0 top repeat-x;
		list-style:none;
		margin:0 0 45px 0;
		padding: 25px 4%;
		position:absolute;
		width:100%;
	}
	.custom-center {
		max-width:70%; 
		margin:0 auto;
		background-color:#fff;
	}
	.custom-nav{
		background-color:transparent;
		border:none;	
		margin-bottom:0px;
	}
	
	.custom-nav .menu-container{
		width:100%;
		position: relative;
		padding-bottom: 25px;
	}
	
	.custom-nav .container, .custom-nav .navbar-collapse{
		padding:0px;	
	}

	.navbar-default .navbar-nav > .active > a,
	.custom-nav ul.navbar-nav > li.active{
		color: #fff;
		background: url(../images/bg-nav-hover.jpg) 0 0 repeat;
	}
	
	ul.nav li.dropdown-level-1:hover ul.multi-level{ display: block; }
	.nav .dropdown-toggle .caret { display:none; }
	.nav .dropdown-submenu .dropdown-toggle .caret { display:none; }

	
	#main-menu  ul.nav {
		width:100%;
		padding:0;
		margin:0;
		margin-bottom: 1px;
	}

	#main-menu  ul.nav > li{
		width:12%;
		background: url(../images/nav-seperator.png) right 0 no-repeat;
		text-align:center;
		padding:0;
		margin:0;
		display: block;
	}

	#main-menu  ul.nav > li:nth-child(5n){		
		width:14%;
	}
	#main-menu  ul.nav > li:nth-child(2){		
		width:14%;
	}
	#main-menu  ul.nav > li:nth-child(8n) > a{
		padding: 20px 0px;
	}
	#main-menu  ul.nav > li:nth-child(2) > a{
		padding: 12px 8px;
	}
	
	#main-menu  ul.nav > li.first > a{padding: 17px 21px;}
	

	#main-menu  ul.nav > li> a{
		height: 50px;
		padding: 10px 15px;
		text-align: center;
		vertical-align: middle;
		display: block;
		text-transform:uppercase;
		font-weight:bold;
		font-size: 13px;
		line-height:15px;
		
	}
	#main-menu  ul.nav > li> a:hover, #main-menu  ul.nav > li> a:focus{
		color:#F49800;
	}
	#main-menu  ul.nav > li.active > a:hover, #main-menu  ul.nav > li.active > a:focus{
		color:#FFF;
	}



	.dropdown-submenu {
		position: relative;
	}

	.dropdown-submenu>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -6px;  
	}

	.dropdown-submenu:hover>.dropdown-menu {
		display: block;
	}

	.dropdown-submenu.pull-left {
		float: none;
	}

	.dropdown-submenu.pull-left>.dropdown-menu {
		left: -100%;
		margin-left: 10px;  
	}

	.dropdown-menu , .dropdown-submenu>.dropdown-menu {
		border-radius:0;
		border:none;
		min-width:175px;
		-webkit-box-shadow: 0 -1px 0 #fff, 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 -1px 0 #fff, 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -1px 0 #fff, 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		
	}

	.dropdown-submenu>.dropdown-menu {
		-webkit-box-shadow: -1px 0px 6px 0px rgba(168,163,168,0.5);
		-moz-box-shadow: -1px 0px 6px 0px rgba(168,163,168,0.5);
		box-shadow: -1px 0px 6px 0px rgba(168,163,168,0.5);
	}

	.dropdown-menu > li > a {
		white-space: normal;
		color:#706f6f;
		padding: 3px 14px;
	}
	
	.dropdown-menu > li{
		text-align:left;
	}
	
	.dropdown-menu > li > a:hover {
		color:#706f6f;
		white-space: normal;
		text-decoration:underline;
		background-color:#fff;
	}

	.dropdown-submenu > a > span.right-caret {
		background: url(../images/arrow-side-nav.png) right center no-repeat;
		padding-right: 12px;
	}
	.dropdown-submenu > a > span.new {
		color:#f18800;
		font-weight:bold
	}
	/**************/


	
	.sbox {
		background: rgba(0, 0, 0, 0) url("../images/bg-subpagina-title.jpg") repeat-x scroll 0 0;
		position: relative;
		z-index: -1;
	}
	.sbox h1 {
		padding: 120px 198px;
	}
	
	

	.content-bg{
		/*background: url(../images/bg-content.png) 0 top repeat;*/
		-webkit-box-shadow: 0px 0px 2px 1px rgba(196,194,196,1);
		-moz-box-shadow: 0px 0px 2px 1px rgba(196,194,196,1);
		box-shadow: 0px 0px 2px 1px rgba(196,194,196,1);
		margin-top:-85px;
	}
	
	.content-right{
		margin-top:40px;	
		padding: 0 22px;
	}

	.content-right .quality_quantity {
		text-align:center;
	}

	.content-right .content-picture{
		margin-left: 10px; 
		float: right; 
		width: 80px;		
		height: 80px;
		margin-bottom:15px;
	}
	
	footer .footer-bg {
		height: 100%;
		background:#fff url(../images/bg-footer.jpg) 0 top repeat-x;
		padding:20px;
	}
	footer .links {
		height: 52px;
		line-height: 52px;
		padding-left: 15px;		
	}
	footer .links a {
		 color:#f69212;
	}
	
	footer .logo #omegapharma { 
		display: block; 
		background-image: url('../images/logo_omegapharma.png'); 
		width: 87px; 
		height: 52px; 
		margin-top:4px;
		background-size: 80px 49px;
		background-repeat: no-repeat;
	}
	.hide-desk{display:none;}
	.padd-right-reset{
		padding-right:0px;
	}
	.padd-left-reset{
		padding-left:0px;
	}
	
	/* Sin page */
	.content-right ul li.sin {
		background: url(../images/devil_icon.png) no-repeat;
		padding-left: 60px;
	}
	.content-right ul li.virtue {
		background: url(../images/angel_icon.png) no-repeat;
		padding-left: 60px;
		margin-bottom: 20px;
	}
	
	/* 10 mins workout */
	.workout1 {
		background: #fff url('../images/single_leg_squat.png') no-repeat 0 0;
		   margin: 15px;
		padding-top: 10px;
		padding-bottom: 45px;
		width:100%;
	}

	.workout2 {
		background: #fff url('../images/crunch_ball_toss.png') no-repeat 0 0;
			margin: 15px;
		padding-top: 10px;
		padding-bottom: 40px;
		width:100%;
	}

	.workout3 {
		background: #fff url('../images/single-arm_diagonal_clean_press.png') no-repeat 0 0;
		 margin: 15px;
		padding-top: 10px;
	   padding-bottom: 30px;
		width:100%;
	}

	.workout4 {
		background: #fff url('../images/explosive_jumb.png') no-repeat 0 0;
		 margin: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		width:100%;
		line-height: 15px;
	}

	.workout5 {
		background: #fff url('../images/metabolic_bike.png') no-repeat 0 0;
		margin: 15px;
		padding-top: 10px;
		padding-bottom: 70px;
		width:100%;
	}

	.workout ul li{
		margin-left:10px;
		margin-top:2px;
			width: 68%;
	}

	.workout  h1 {
		font-weight: bold;
		font-size: large;
		padding-left: 15px;
		padding-bottom: 10px;
		margin-top: 10px;
		color: #ffffff;
	}
	.workout {
		height:230px;
	}

	/* 10 min workout */
	.how-to-eat-healthy .how-to-eat-healthy-div1, .how-to-eat-healthy .how-to-eat-healthy-div2 {
		text-align:center;
		width:100%;
	}
	.fat-binder-direct .so-easy {
		position: relative;
		background: url('../images/direct_back.png') no-repeat;
		width: 100%;
		height: 285px;
		padding: 60px 0 0 120px;
		font-size: 16px;
		background-size:contain;
	}
	/* Testimonial */
	.testimonials .testimonial {
		position: relative;
	}
	.testimonial {
		clear: both;
		margin-top: 3px;
		overflow: hidden;
	}
	.testimonial .thumb {
		float: left;
	}

	.testimonial .copy {
		display: inline;
		float: left;
		margin-left: 20px;
		width: 550px;
	}
	.testimonials .title h2 {
		font-size: 18px;
		font-weight: bold;
	}
	.testimonial img {
		float: left;
	}
	.blok.testimonial-sidebar {
		margin: 20px auto auto;
		min-height: 370px;
		width: 95%;
	}
	.blok.grey {
		background: #dadada none repeat scroll 0 0;
	}
	.blok {
		border-radius: 5px;
	}
	.blok p {
		margin: 0;
		padding: 0 10px 10px 10px;
	}
	.blok .text p {
		margin: 0;
		padding: 0 10px 10px 0px;
	}
	/* Testimonial */
	.region-sidebar-middle div.views-row{
		padding:19px 0 19px 19px !important;
		width:88% !important;
	}
	.region-sidebar-middle section:nth-child(2) .view-content{
		background-color:#e9e9e9;
	}
}
/* CSS for Tablet */
@media only screen and (min-width: 768px) and (max-width: 991px){ 
	.content-right .quality_quantity {
		text-align:center;
	}
	#subnav {
		background: #fff url(../images/bg-subnav.jpg) 0 top repeat-x;
		list-style:none;
		margin:0 0 30px 0;
		padding: 25px 4%;
		width:100%;
	}
	.sbox {
		margin-top:0;
		height:40px;
		background-color: #F78B05;		
	}
	
	.sbox h1 {
		font-size: 14px;
		text-transform:uppercase;
		padding: 14px;
	}
  .content-right ul li.sin {
    background: url(../images/devil_icon.png) no-repeat;
    padding-left: 60px;
  }
  .content-right ul li.virtue {
    background: url(../images/angel_icon.png) no-repeat;
    padding-left: 60px;
    margin-bottom: 20px;
  }
  /*menu and home page */
   
	.hide-desk{
		display:none;
	}
	header .top {
		padding: 20px;
		overflow: normal; 
		position: relative;
		border-top: 3px solid #F49800;
	}
	header .logo{
		float: left;
		width: 50%;
		margin-left: 10px;
	}
	header .logo #logo {
		display: block;
		background: url('../images/logo.png') left center no-repeat;
		background-size: 220px 30px;
		outline: none;
	}
	.navbar {
		margin-bottom:0px;
	}
	.padd-right-reset{
		padding-right:none;
	}
	.padd-left-reset{
		padding-left:none;
	}
	.custom-center {
		width:100%; 	
		background-color:#fff;
		padding-top:10px;
	}
	header .custom-center{
		padding-top:0px;
	}
	.custom-nav{
		background-color:#F5F5F5;
		border:none;	
		margin-bottom:0px;
	}
	
	.custom-nav .menu-container{
		width:100%;
		position: relative;
		padding-bottom: 25px;
	}
	
	.custom-nav .container, .custom-nav .navbar-collapse{
		padding:0px;	
	}

	.navbar-default .navbar-nav > .active > a,
	.custom-nav ul.navbar-nav > li.active{
		color: #fff;
		background: url(../images/bg-nav-hover.jpg) 0 0 repeat;
	}
	
	ul.nav li.dropdown-level-1:hover ul.multi-level{ display: block; }
	.nav .dropdown-toggle .caret  { display:none; }
	.nav .dropdown-submenu .dropdown-toggle .caret { display:none; }
	#main-menu  ul.nav {
		width:100%;
		padding:0;
		margin:0;
		margin-bottom: 1px;
		background-color:#F5F5F5;
		
	}

	#main-menu  ul.nav > li, .navbar-nav > li {
		width:12%;
		/*background: url(../images/nav-seperator.png) right 0 no-repeat;*/
		text-align:center;
		padding:0;
		margin:0;
		display: block;
		
	}

	#main-menu  ul.nav > li:nth-child(5n){		
		width:14%;
	}
	#main-menu  ul.nav > li:nth-child(2){		
		width:14%;
	}
	#main-menu  ul.nav > li:nth-child(8n) > a{
		padding: 20px 0px;
	}
	#main-menu  ul.nav > li:nth-child(2) > a{
		padding: 12px 8px;
	}
	#main-menu  ul.nav > li.first > a{padding: 17px 21px;}
	

	#main-menu  ul.nav > li> a{
		height: 50px;
		padding: 10px 15px;
		text-align: center;
		vertical-align: middle;
		display: block;
		text-transform:uppercase;
		font-weight:bold;
		font-size: 12px;
		line-height:15px;
		background-color:#F5F5F5;
		background: url(../images/nav-seperator.png) right 0 no-repeat;
		
	}

	
	#main-menu  ul.nav > li> a:hover, #main-menu  ul.nav > li> a:focus{
		color:#F49800;
	}
	#main-menu  ul.nav > li.active > a:hover, #main-menu  ul.nav > li.active > a:focus{
		color:#FFF;
	}

	.dropdown-submenu {
		position: relative;
	}

	.dropdown-submenu>.dropdown-menu {
		top: 0;
		left: 100%;
		margin-top: -6px;
		margin-left: -6px;  
	}

	.dropdown-submenu:hover>.dropdown-menu {
		display: block;
	}

	.dropdown-submenu.pull-left {
		float: none;
	}

	.dropdown-submenu.pull-left>.dropdown-menu {
		left: -100%;
		margin-left: 10px;  
	}

	.dropdown-menu , .dropdown-submenu>.dropdown-menu {
		border-radius:0;
		border:none;
		min-width:175px;
		-webkit-box-shadow: 0 -1px 0 #fff, 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 -1px 0 #fff, 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		box-shadow: 0 -1px 0 #fff, 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
		
	}

	.dropdown-submenu>.dropdown-menu {
		-webkit-box-shadow: -1px 0px 6px 0px rgba(168,163,168,0.5);
		-moz-box-shadow: -1px 0px 6px 0px rgba(168,163,168,0.5);
		box-shadow: -1px 0px 6px 0px rgba(168,163,168,0.5);
	}

	.dropdown-menu > li > a {
		white-space: normal;
		color:#706f6f;
		padding: 3px 14px;
	}
	.dropdown-menu > li > a:hover {
		color:#706f6f;
		white-space: normal;
		text-decoration:underline;
		background-color:#fff;
	}

	.dropdown-submenu > a > span.right-caret {
		background: url(../images/arrow-side-nav.png) right center no-repeat;
		padding-right: 12px;
	}
	.dropdown-submenu > a > span.new {
		color:#f18800;
		font-weight:bold
	}	
	
	.sbox-homepage{
		max-height:349px;
		background: url(../images/bg-orange.jpg) 0 0 repeat-x;
		margin-top: 0;
	}
	#carousel-container{
		width: 85%;	
		margin:0 auto;
	}
	.carousel-inner > .item > img{
		height:349px;
	}
	.carousel-indicators {
		position: absolute;
		bottom: initial;
		left: initial;
		top: 5px;
		right: 0px;
		z-index: 15;
		width: 25%;
		padding-left: 0;
		margin-left: -30%;
		text-align: center;
		list-style: none;
	  
	}
	.carousel-indicators li {
		display: inline-block;
		width: 18px;
		height: 18px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color: #fff \9;
		background-color:#FFF;
		border: 1px solid #ccc;
		border-radius: 10px;
		box-shadow: inset 3px 3px 4px #ccc;
	}
	.carousel-indicators .active {
	  width: 20px;
	  height: 20px;
	  margin: 0;
	  background-color: #57A734;
	  border: 1px solid #728B1F;
	  box-shadow: 3px 3px 4px #965603;
	}
	
	.carousel-inner .slider-content{
		position: absolute; 
		right: 2px;  
		bottom: 10px; 
		color: #fff; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		line-height: 11px;
	}
	.carousel-inner .slider-content a{
		color: #fff; 
		font-family: Arial, Helvetica, sans-serif; 
		font-size: 11px; 
		line-height: 11px;
		text-decoration:underline;
	}
	.carousel-control .glyphicon-chevron-left{
		left:30px;
	}
	.carousel-control .glyphicon-chevron-right{
		right:30px;
	}
	.carousel-control .glyphicon-chevron-left:before {
       content: " ";    
       display:block;     
       background:url(../images/sbox-arrow-left.png) no-repeat;   
       width:30px;
       height:54px;
    }
	.carousel-control .glyphicon-chevron-right:before {
       content: " ";    
       display:block;     
       background:url(../images/sbox-arrow-right.png) no-repeat;   
       width:30px;
       height:54px;
    }
	
	
	/*** Home Page **********/
	
		
	.blok{
		border-radius:0;
	}
	.blok.grey {
	  background: #E4E4E4;
	}
	.blok.app{		
		width: 100%;
		min-height: 227px;
		overflow: hidden;
	}
	.blok.app p {	
		font-size: 14px;
		padding:8px;
	}
	.content-box-1 {
		margin:5px 0px;
		padding:0px;	
	}
	.content-box-1 .app-button-mobile{
		padding:0px;
		position:absolute;		
		left:12px;
		bottom:30px;
	}
	.content-box-1 .app-button-mobile a{	
		margin: 0px 0px 0px 10px;
		width: 19%;
	}	
	.content-box-1 .app-button-mobile a:nth-child(2n) img{	
		margin-left:52px;
	}	
	.content-box-1 .xls-medical-app {
		position:relative;		
	}
	.content-box-1 .xls-medical-app > img{
		width: 100%;
		min-height: 153px;
		overflow: hidden;
	}	
	.content-box-1 .xls-medical-app ul {	
	  position:absolute;
	  top:0px;
	  left:12px;
	  padding-top: 10px;
	  padding-left: 23px;	 
	}
	.content-box-1 .xls-medical-app ul li{
		font-size:12px;
		line-height:20px;
	}
	
	.blok .txt {
		padding: 22px 0;
		text-align: center;	
	}
	.blok .txt span{		
		color:#fff; 
		font-size:14px; 
		font-weight:bold;
		line-height:20px; 
		text-transform:uppercase;
	}
	.content-box-1 .blok.red {
		background: #ed1c24 url(../images/bg_block_red.jpg) 100% 100% repeat-x;
		min-height:227px;
	}
	.blok.maxstrength img{
		width:100%;
	}
	.content-box-1 .blok.maxstrength {
	  margin: 0px;
	}
	
	.content-box-2 {
		padding:0;
		margin-bottom: 5px;
		margin-left:0px;
		margin-right:0px;
	}
	.content-box-2 .mobile-bmi{
		position:relative;
		background: #95E6EF;
		height:300px;
		margin-right: 1px;		
	}
	.mobile-bmi img{
		max-width:100%;
	}
	.content-box-2 .bmi-content{
		position:absolute;
		left:0;
		bottom:0;		
		background-color: rgba(0,0,0, 0.4);
		color:#fff;
		padding:10px 6px;		
		width: 100%;
		max-height: 100px;
	}
	.content-box-2 .bmi-content .title{
		padding:0;
		font-size:12px;
		font-weight:bold;
		padding-bottom: 5px;
	}	
	.content-box-2 .bmi-button-mobile {		
		position: relative;
		right: 8px;
		bottom: 2px;	
	}	
	.content-box-2 .bmi-button-mobile button {		
		font-size:10px;
		font-weight:bold;
		text-transform:uppercase;
	}
	.content-box-2 .bmi-button-mobile .btn{
		padding:5px;
	}	
	.content-box-2 .mobile-testimonial{
		position:relative;
		background: #90D588;
		height:300px;	
	}
	.mobile-testimonial img{
		max-width:100%;
	}	
	.content-box-2 .mobile-testimonial-content{
		position:absolute;
		left:0;
		bottom:0;		
		background-color: rgba(0,0,0, 0.4);
		color:#fff;
		padding:10px 6px 17px 6px;
		max-height: 100px;		
	}
	.content-box-2 .mobile-testimonial-content .title{
		padding:0;
		font-size:12px;
		font-weight:bold;
		text-transform:uppercase;
		padding-bottom: 5px;
	}
	
	.content-box-3{
		margin-bottom:5px;
	}
	.content-box-3 .mobile-upto3x{
		position:relative;
		background: #fff;
		min-height:300px;		
	}
	.content-box-3 .mobile-upto3x-content{
		position:absolute;
		left:0;
		bottom:0;		
		color:#fff;
		background: #4FA931;
		padding:0px;
		min-height: 100px;
		width:100%
	}	
	.content-box-3 .mobile-upto3x-content .lose-weight-container{
		width:100%;
	}
	.content-box-3 .mobile-upto3x-content .lose-content{
		width:84%;	
		font-size:12px;
		font-weight:bold;
		padding:5px;
		text-transform:uppercase;
		text-align:center;
	}
	.content-box-3 .mobile-upto3x-content .lose-content .lose-txt{
		width: 100%;
		margin: 5px 0 0 0;		
	}
	.content-box-3 .mobile-upto3x-content .lose-content .weight-txt{
		width: 100%;
		margin: 5px 0 0 0;		
	}
	.content-box-3 .mobile-upto3x-content .sticks-content{
		width:100%;	
		padding:5px;		
		text-align:center;
		bottom: -12px;
		position: relative;
	}
	.content-box-3 .mobile-upto3x-content .sticks-txt{
		font-size:12px;
	}
	
	
	footer {
	  height: 50%;  
	}
	
	footer .footer-bg{
	  height: 52px;
	  background: url(../images/bg-footer-orange.jpg) 0 0 repeat;
	}
	
	footer .links {
		height: 40px;
		line-height: 40px;
		padding-left: 5px;
	}	
	footer .links a {
		font-size:11px;
		color:#fff;
	}
	footer .logo {
		padding-right: 10px;
	}

	footer .logo #omegapharma { 
		display: block; 
		background-image: url('../images/m-logo-footer.png'); 
		width: 58px; 
		height: 37px; 
		margin-top:4px;
		background-size: cover;
		background-repeat: no-repeat;
		
	}
	/* 10 min workout */
	.workout1 {
		background: #fff url('../images/single_leg_squat.png') no-repeat 0 0;
			margin: 15px;
		padding-top: 10px;
		padding-bottom: 45px;
		width:100%;
	}

	.workout2 {
		background: #fff url('../images/crunch_ball_toss.png') no-repeat 0 0;
			margin: 15px;
		padding-top: 10px;
		padding-bottom: 40px;
		width:100%;
	}

	.workout3 {
		background: #fff url('../images/single-arm_diagonal_clean_press.png') no-repeat 0 0;
		 margin: 15px;
		padding-top: 10px;
		padding-bottom: 30px;
		width:100%;
	}

	.workout4 {
		background: #fff url('../images/explosive_jumb.png') no-repeat 0 0;
		 margin: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		width:100%;
		line-height: 15px;
	}

	.workout5 {
		background: #fff url('../images/metabolic_bike.png') no-repeat 0 0;
		margin: 15px;
		padding-top: 10px;
		padding-bottom: 70px;
		width:100%;
	}

	.workout ul li{
		margin-left:10px;
		margin-top:2px;
			width: 45%;
	}
	.workout  h1 {
		font-weight: bold;
		font-size: large;
		padding-left: 15px;
		padding-bottom: 10px;
		margin-top: 10px;
		color: #ffffff;
		}
	/* 10 min workout */
	/*************/
	.how-to-eat-healthy .how-to-eat-healthy-div1, .how-to-eat-healthy .how-to-eat-healthy-div2 {
		text-align:center;
		width:100%;
	}
	.fat-binder-direct .so-easy {
		position: relative;
		background: url('../images/direct_back.png') no-repeat;
		width: 100%;
		height: 285px;
		padding: 60px 0 0 120px;
		font-size: 16px;
		background-size:contain;
}

}
/* CSS for tablet */

/* CSS for mobile */
@media only screen and (min-width: 320px) and (max-width: 767px){ 
	.padd-right-reset{
		padding-right:none;
	}
	.padd-left-reset{
		padding-left:2px;
	}
	#navbar-close {
		position:absolute;
		color: #FFF;
		background-color:#F68C1F;
		width: 22px;
		height: 16px;
		left: -12px;
	}
	
	.custom-center {
		width:100%; 
		margin:0 auto;
		background-color:#fff;
	}
	.navbar-header a.navbar-brand{
		padding: 12px 20px;
	}
	.navbar-header a.navbar-brand img{
		padding-left: 5px;
	}
	.custom-nav .menu-container{
		padding-bottom:0;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff; 
	}
	.navbar-preheader .navbar-toggle:hover .icon-bar {
		background-color: #F49800;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #F49800;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #fff; 
	}
	
	/*********** Menu ****************/
	.navbar {
		margin-bottom:0;
		border: none;
		border-top: 3px solid #F49800;
	}
	.navbar-nav {
		margin: -0.5px -15px  0.5px -15px;
	}
	.navbar-default .navbar-collapse{
		border: none; 
	}
	.content-right .quality_quantity {
		text-align:left;
	}
	.content-right .quality_quantity img {
		margin-bottom:10px;
	}
	.how-to-eat-healthy div img {
		margin-bottom:10px;
	}
	
	.custom-nav .menu-container{
		width:100%;
		position: relative;		
	}
	#main-menu  {
		position: absolute;
		width: 90%;
		z-index: 100000;
		background-color: #fff;		
		margin-left: 25px;
	}
	
	#main-menu  ul.nav {
		border-left:1px solid #EEEEEF;
		border-bottom:1px solid #EEEEEF;
	}

	#main-menu  ul.nav > li{
		border-top:1px solid #EEEEEF;
	}
	
	#main-menu  ul.nav > li> a{	
		text-transform:uppercase;
		font-size:12px;
		font-weight:bold;		
	}
	.navbar-default .navbar-nav > li > a:hover{
		color: #706f6f;
	}
	.navbar-default .navbar-nav > .active > a, 
	.navbar-default .navbar-nav > .active > a:hover, 
	.navbar-default .navbar-nav > .active > a:focus{
		color: #fff;
	}
	.dropdown-menu {
		background-color: #F4F4F5;
		padding:0;
	}
	.dropdown-menu > li {
		border-top:1px solid #fff;
		background-color: #F4F4F5;	
	}
	.dropdown-menu > li:hover {		
		background-color: #F4DFCA;	
	}
	
	.multi-level > li > a > span{ 
		font-size:11px;
		color: #BEBBBB;
	}
	.dropdown-submenu > a > span.new {
		color:#f18800;
		font-weight:bold
	}
	.dropdown-menu > li > a {
		white-space:normal;
	}
	li.dropdown-level-1 a span.custom-right-down:before {
		content: "\e080";
	}

	li.dropdown-level-1.open a span.custom-right-down:before {
	  content: "\e114";
	}
	
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover{
		  color: #fff;
		  background: url(../images/bg-nav-hover.jpg) 0 0 repeat-x;
		  background-size: 1px 40px;
	}
	

	

	#mobile-submenu {
		text-align: center;
		background-color: #fff;
		padding: 10px 0;
	}
	
	#mobile-submenu-container{
		max-width:250px;
		margin: auto;
		position:relative;
		background-color: #F28709;
		padding:5px 10px;
		
	}
	#mobile-submenu  a {
		text-align: center;	
		color:#fff;		
		width: auto;
	}
	#mobile-submenu  a:hover, #mobile-submenu  a:focus {
		text-decoration:none;
	}
	
	#mobile-submenu  ul.dropdown-menu-custom {
		display:none;
		position:absolute;	
		z-index:10000;
		width: 100%;
		left: 0px;
		top: 28px;
		
	}
	#mobile-submenu  ul.dropdown-menu-custom li {
		list-style:none;		
		text-align: left;
		background-color: #FFF4EA;
		padding: 10px 15px;	
		border-top: 1px solid #F9A456;		
		
	}
	#mobile-submenu  ul.dropdown-menu-custom li.active {
		background-color: #F9A456;
		color: #FFF;	
	}
	#mobile-submenu  ul.dropdown-menu-custom li.active a {
		background-color: #F9A456;
		color: #FFF;	
	}
	#mobile-submenu  ul.dropdown-menu-custom li  a{
		color: #706f6f;		
	}

	/*********** Menu ****************/
	
	#mobile-header{
		padding:5px 10px;
	}
		
	.sbox {
		margin-top:0;
		height:40px;
		background-color: #F78B05;		
	}
	
	.sbox h1 {
		font-size: 14px;
		text-transform:uppercase;
		padding: 14px;
	}
	
	.content-bg{		
		top: 0px;
	}

	.content-right{	
		margin-top:10px;	
		padding: 0 15px 0 30px;
	}
	.content-right .content-picture{
		margin: 10px 20px 10px 0; 
		float: left; 
		width: 80px;		
		height: 80px;	
	}
	
	footer {
	  height: 50%;  
	}
	
	footer .footer-bg{
	  height: 52px;
	  background: url(../images/bg-footer-orange.jpg) 0 0 repeat;
	}
	
	footer .links {
		height: 40px;
		line-height: 40px;
		padding-left: 10px;
	}	
	footer .links a {
		color:#fff;
	}
	footer .logo {
		padding-right: 20px;
	}

	footer .logo #omegapharma { 
		display: block; 
		background-image: url('../images/m-logo-footer.png'); 
		width: 68px; 
		height: 39px; 
		margin-top:4px;
		background-size: 80px 49px;
		background-repeat: no-repeat;
	}
	
	/******** Added by Chetna *************/
	.heiBanner {   
		height: 50px;
    }
	
	.content-right a.download_foodplan {
		background: transparent url("../images/foodplan-bg.jpg") no-repeat scroll 0 0;
		color: #706f6f;
		display: inline-block;
		height: 50px;
		margin: 9px 35px 9px 0px;
		padding-left: 13px;
		padding-top: 13px;
		text-align: left;
		width: 70%;
		float:right;
	}
	.btn-success{
		background-color: rgb(92, 174, 46);
		border-color: #85BB23;
        margin: 15px 15px 15px 0px;
	}
	#calculatebmi {
		padding: 20px;
		margin-bottom: 20px;
		width: 100%;
		position: relative;
		background: #A139FF;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top, #ffa839 0%, #f18700 100%);
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa839), color-stop(100%,#f18700));
		background: -webkit-linear-gradient(top, #ffa839 0%,#f18700 100%);
		background: -o-linear-gradient(top, #ffa839 0%,#f18700 100%);
		background: -ms-linear-gradient(top, #ffa839 0%,#f18700 100%);
		background: linear-gradient(to bottom, #ffa839 0%,#f18700 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa839', endColorstr='#f18700',GradientType=0 );
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-khtml-border-radius: 5px;
		border-radius: 5px;
		color:#ffffff;
	}

	/* 10 mins workout */
	.workout div{
		width:100%;
		 border-radius: 5px 5px 0px 0px;
		 -moz-border-radius: 5px 5px 0px 0px;
		 -webkit-border-radius: 5px 5px 0px 0px;
		 /* #ffaf4b+0,ff920a+100;Orange+3D+%231 */
		background: #ffaf4b; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */

		color:#ffffff;
		font-weight:bold;
		padding-left: 16px;
		padding-top:10px;
		padding-bottom:5px;
		border: 1px solid #C1C1C1;
		border-bottom: none;
	}
	.workout ul {
		border:1px solid #C1C1C1;
		-webkit-border-radius:0px 0px 5px 5px;
		border-bottom:4px solid #F99519;
	}
	.workout ul li{
		margin-left:10px;
		margin-top:2px;

	}
	#contactinfo .address{
		width:100%;
		margin-left:0px;
	}
	/* Fat binder */
		.soeasy{
		line-height:10px;
		font-size:14px;
	}

	.so-easy ul li{
		line-height:12px;
		font-size:12px;
	}

	.loseupto{
		font-size:20px;
		color:#f18800;
		line-height:22px;
		text-align:center;
		margin-bottom:15px;"
	}

	.loseuptospan{
		font-size: 28px;
	}

	.loseuptop{
		font-size:16px;
		color:#f18800;
		line-height:22px;
		text-align:center;
	}

	.loseuptospan2{
		float:left;
		margin:18px 0 0 8px;
		font-size:23px;
		color:#6eb429;
		line-height:23px;
	}
	.fat-binder-direct .so-easy {
		-webkit-border-radius: 5px;
		width: 100%;
		margin: 15px 0 15px 0;
		padding: 20px;
		color: #FFF;

		background: #46A734; /* Old browsers */
		background: -moz-linear-gradient(top, #46A734 0%, #8FBF21 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#46A734), color-stop(100%,#8FBF21)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #46A734 0%,#8FBF21 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #46A734 0%,#8FBF21 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #46A734 0%,#8FBF21 100%); /* IE10+ */
		background: linear-gradient(to bottom, #46A734 0%,#8FBF21 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#46A734', endColorstr='#8FBF21',GradientType=0 ); /* IE6-9 */
		background-position: 0 0 !important;
		-moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /* Firefox/Mozilla */  
	   -webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /*Safari/Chrome */  
	   box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.25); /* Opera & hoe het zou moeten */
	}


}

	
}

/************************Chetna CSS **********************************/
	.submenu {
     list-style: none;
     background:url('../images/list_arrow_yellow.png') no-repeat center left;
     padding-left:20px;
	 color: rgb(244, 152, 0);
	 margin-left:25px;
	 font-weight:bold;
   }
   
   .menu {
     list-style: none;
     background:url('../images/list_arrow_yellow.png') no-repeat center left;
     padding-left:10px;
	   }
	   
	.notes {
	font-style: italic;
    font-size: smaller;
}

	.marginT18{
	margin-top: 18px;
}
	img {max-width:100%}

	.footerAlignXS{
		margin: 7px -22px -15px -48px;
	}
	
	.footerAlignMD{
	    margin: 0px -37px -22px -87px;
		}