/* This file will hold custom styles for the website */

*{
  margin: 0px;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/GenerikaMGMono-Regular.eot');
    src: url('../fonts/GenerikaMGMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenerikaMGMono-Regular.woff') format('woff'),
         url('../fonts/GenerikaMGMono-Regular.otf') format('opentype'),
         url('../fonts/GenerikaMGMono-Regular.ttf') format('truetype'),
         url('../fonts/GenerikaMGMono-Regular.svg#webfont') format('svg');
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/Generika-Bold.eot');
    src: url('../fonts/Generika-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Generika-Bold.woff') format('woff'),
         url('../fonts/Generika-Bold.otf') format('opentype'),
         url('../fonts/Generika-Bold.ttf') format('truetype'),
         url('../fonts/Generika-Bold.svg#webfont') format('svg');
}

@font-face {
  font-family: Generika;
  font-weight: bold;
  src: url("../fonts/Generika-Bold.otf") format("opentype");
}


body {
  font-family: Generika;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h1 {
  text-align: center;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 22px;
}

img {
  max-width: 100%;
}

.pl-25 {
  padding-left: 25px;
}

.pl-15 {
  padding-left: 15px;
}

.mt-0 {
  margin-top: 0;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
}

/* Navigation styles */

.navbar-default {
  background: #d6d6d6;
  border-radius: 0;
  border: transparent;
}

.navbar {
  min-height: 105px;
  margin-bottom: 5px;
  border-bottom: solid 8px #1f1f1f;
  border-top: solid 8px #1f1f1f;
}

.nav-bg {
  background: url('../images/header-bg.png') no-repeat left bottom;
  padding-left: 36px;
  margin-left: 33px;
}

.navbar-brand {
  height: auto;
  padding: 5px 15px;
}

.dropdown-menu {
  min-width: 200px;
}

ul.navbar-nav.navbar-left {
  color: #fff;
  font-size: 20px;
  background-color: #1f1f1f;
  margin-top: 40px;
}
.collapse {
	display:block;
}

.dropdown-menu.columns-3 {
  min-width: 730px;
  color: #fff;
  margin-left: -36px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a {
  color: #a1a1a1 !important;
  background-color: #1f1f1f;
}

.tb-megamenu.style-black .nav > li > a {
    color: #fff!important;
    background: #222!important;
}

.tb-megamenu.style-black .nav > li > a:focus, .tb-megamenu.style-black .nav > li > a:hover, .tb-megamenu.style-black .nav-collapse .nav > li.active > a:hover, .tb-megamenu.style-black .nav-collapse .nav > li.active > a:focus, .tb-megamenu.style-black .nav li.dropdown.active > .dropdown-toggle {
    color: #A1A1A1!important;
	 background-color: #1f1f1f !important;
}

.tb-megamenu.style-black .dropdown-menu li > a:hover, .tb-megamenu.style-black .dropdown-menu li > a:focus, .tb-megamenu.style-black .dropdown-submenu:hover > a {
    background: none;
    color: #fff!important;
}

.tb-megamenu.style-black .dropdown-menu li > a {
    border-top: 0!important;
    padding: 0 0 0 60px!important;
    text-shadow: none!important;
  color: #fff!important;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
    margin-bottom: 25px;
}

.multi-column-dropdown li:first-child {
  text-align: center;
  margin-bottom: 20px;
}

.multi-column-dropdown {
  list-style: none;
}

.multi-column-dropdown img {
  float: left;
  margin-bottom: 20px;
}

.nav-text {
  margin-left: 25px;
  float: left;
}

.nav-text.single-line{
  margin-top: 12px;
}

.wellbeings-menu {
  border-right: dotted 3px #fff;
  padding-bottom: 135px;
}
/*.tb-megamenu-column-inner.mega-inner ul li a {
  border-right: 0!important;
}*/

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.2;
  color: #fff;
  white-space: normal;
  font-weight: normal;  
}

.multi-column-dropdown li a:hover, a:hover, a:focus, .multi-column-dropdown li a:focus {
  text-decoration: none;
  color: #A1A1A1;
}

.dropdown-menu {
  font-size: 20px;
  background-color: #1f1f1f;
  font-weight: bold;
}

li a {
  background-image: url('../images/right-border.png');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px!important;
}

.multi-column-dropdown li a, li:last-child a {
  /*background-image: none;*/
  padding-right: 0;
}

ul.links li a{
    background-image: inherit!important;
    padding-left: 45px!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    height: 45px;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: transparent!important;
    border-color: transparent!important;
    color: #A1A1A1!important;
}

/* Footer styles */ 

footer {
  background-color: #1f1f1f;
  border-top: solid 8px #c91d2d;
  height: 83px;
  color: #fff;
  padding-top: 28px;
  margin-top: 35px;
}

footer a {
  color: #fff;
}

footer p {
  margin: 0;
}

/* Home page styles */

.home-banner {
  border: solid 2px #c5c2c6;
  border-bottom: 0;
}

.text-extnd {
  letter-spacing: 3.8px;
}

.home-banner h1 {
  margin-top: -23px;
  font-size: 2.5em;
  line-height: 1;
}

.btn-n-img {
  position: relative;
}

.btn-n-img img {
  position: absolute;
  right: -2px;
  bottom: 0;
}

.release-best {
  background-color: #404040;
  color: #fff;
  padding: 21px 0 22px 10px;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.text-right button {
  margin-right: 80px;
}

.explore-btn {
  border-radius: 20px;
  padding: 0;
  background-color: #ccc;
  border: solid 2px #666;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
  width: 430px;
  line-height: 41px;
}

.products {
  height: 300px;
  border: solid 1px #000;
  padding: 5px;
  position: relative;
  margin-bottom: 20px;
}

.products h3 {
  padding: 0;
  margin: 0;
}

.product-img {
  text-align: center;
  margin-top: 30px;
}

.product-img.find-formula {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 35px;
}

.btn {
  border-radius: 0 0 15px 0;
  background-color: #404040;
  color: #fff;
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-weight: bold;
  padding: 3px 10px;
}

.btn:hover, button:hover {
  color: #A1A1A1;
}

button:hover {
  color: #666;
}

.prod-avail {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
}

.boots, .tesc, .holland, .marrisons, .defence { 
  background: url('../images/prod-avaliable.png') no-repeat;
}

.defence, .multi, .recovery, .release, .vitd3, .cardio, .endurance, .mfocus { 
  padding: 25px;
}

.boots {
  background-position: 6px 0;
  padding: 0 0 19px 70px;
}

.marrisons {
  background-position: -68px 0px;
  padding: 0 2px 22px 113px;
}

.tesc {
  background-position: -168px 0px;
  padding: 0 2px 22px 143px;
}

.holland {
  background-position: -300px 0px;
  padding: 0 2px 22px 326px;
}

.prod-desc {
  margin-bottom: 20px;
}

.prod-desc p {
  margin-bottom: 0;
}

.prod-text {
  background-color: #1e1e1e;
  height: 40px;
  max-height: 138px;
  color: #fff;
  padding: 5px 10px;
  overflow: hidden;
}

.prod_img {
  height: 370px;
  background-color: #d6d6d6;
  overflow: hidden;
  text-align: center;
  max-height: 370px;
  padding-top: 20px;
  background: -webkit-radial-gradient(rgb(255, 255, 255) 35%, rgb(214, 214, 214) 70%);
  background: -o-radial-gradient(rgb(255, 255, 255) 35%, rgb(214, 214, 214) 70%);
  background: -moz-radial-gradient(rgb(255, 255, 255) 35%, rgb(214, 214, 214) 70%);
  background: radial-gradient(rgb(255, 255, 255) 35%, rgb(214, 214, 214) 70%);
}

.prod-desc-img {
  height: 265px;
  background: none;
  background-color: #d6d6d6;
  text-align: center;
  padding: 10px 0;
}

.prod_img img, .prod-desc-img img {
  max-height: 100%;
}

.prod-desc-text {
  height: 145px;
  background-color: #1e1e1e;
  overflow: hidden;
  color: #fff;
  padding: 15px;
}

.Wellbeing h3, .Energy h3, .Performance  h3{
  height: 35px;
  padding: 2px 0 0 10px;
  margin: 20px 0 10px 0;
}

.wellbeing h3, .energy h3 , .performance h3 {
  margin: 0;
}

.Wellbeing {
  background: -moz-linear-gradient(left, #6a6a6c 0%, #ffffff 85%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6a6a6c), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #6a6a6c 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #6a6a6c 0%,#ffffff 85%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #6a6a6c 0%,#ffffff 85%); /* IE10+ */
  background: linear-gradient(to right, #6a6a6c 0%,#ffffff 85%); /* W3C */
}

.Energy {
  background: -moz-linear-gradient(left, #db8a2a 0%, #ffffff 85%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#db8a2a), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #db8a2a 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #db8a2a 0%,#ffffff 85%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #db8a2a 0%,#ffffff 85%); /* IE10+ */
  background: linear-gradient(to right, #db8a2a 0%,#ffffff 85%); /* W3C */
}

.Performance {
  background: -moz-linear-gradient(left, #6ac5f0 0%, #ffffff 85%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6ac5f0), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #6ac5f0 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #6ac5f0 0%,#ffffff 85%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #6ac5f0 0%,#ffffff 85%); /* IE10+ */
  background: linear-gradient(to right, #6ac5f0 0%,#ffffff 85%); /* W3C */
}

.prod-details {
  margin: 100px 0 70px 0;
  float: left;
  font-size: 20px;
}

ul.bullets {
  padding-left: 40px;
}

.buy-now {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;  
}

.buy-now a, a.explore-range, div.questions a, .faq-question a {
  color: #c20012;
  text-decoration: underline;
}

div.questions a, .faq-question a {
    text-decoration: none;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: -7px;
}

.answers p {
    margin-left: 35px;
}

.answers, .faq-answer {
  /*display: none;*/
  float: left;
}

.small-text {
  font-size: 14px;  
}

.big-text {
  font-size: 24px;
  cursor: pointer;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #000;
}

thead th:first-child, thead th:last-child {
  background-color: #000;
  color: #fff;
}

thead th:nth-child(2){
  background-color: #4b4b4b;
  color: #fff!important;
}

thead tr th:first-child, tbody tr td:first-child {
  text-align: left;
}

tbody tr td, thead tr th {
  text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px 15px;
}

.prod-text p {
  font-weight: bold;
}

.big-text .caret {
  border-top: 10px dashed;
  border-top: 4px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-right: 4px;
  margin-top: -4px;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.caret-right {
  border-left: 10px dashed;
  border-left: 4px solid\9;
  margin-right: 10px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  margin-top: -4px;
}

.expand , .faq-question.faq-qa-visible {
  background: url("../images/expand.png") no-repeat;
}

.condense, .faq-question {
  background: url("../images/condense.png") no-repeat;
}

.questions a, .faq-question a {
	float: left;
    margin-left: 10px;
    margin-top: -13px;
}

.faq-question-answer {
    margin-left: 20px;
}

.questions, .answers, .faq-question, .faq-answer {
  float: left;
  width: 100%;
}

.questions, .faq-question {
  margin-bottom: 10px;
}

.answers, .faq-answer {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-top: -10px;
}

.whats-it {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
  margin-bottom: 30px;
  display: none;
}

/* Find your formula styles */

label {
  font-weight: normal;
}

table.formula-desc td {
  text-align: left;
}

.well-details, .energy-details, .perf-details {
  float: left;
  background-color: #D6D6D6;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.well-details p, .energy-details p, .perf-details p {
  margin-bottom: 10px;
}

.formul-mainblcok input[type="radio"] {
  float: right;
}

 
@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }
}

@media (min-width: 768px) {
.navbar-nav>li>a {
  padding-top: 21px;
  padding-bottom: 21px;
}
}

@media (min-width: 1200px) {
  .container, .faq-content{
    width: 1060px;
  }
}
.faq-content{
margin: 0px auto;
}
#content #page-title {
display:none;
}
.page-faq-page #page-title {
	text-align: left;
	display: block !important;
	margin-left: 161px;
}
/*#ajax-image
{
    width: 16px;
    height: 16px;
    background-image:url(../images/loading.png);
    font-size: 0px;
    display: inline-block;
}*/
#ajax-image {
   height: 316px;  
  background:url(../images/loading.png) no-repeat center center; 
}


.home-banner a {
  color: #000;
}

@media (max-width: 767px) {

body {
  font-size: 16px;
}

#logo img {
  width: 125px;
}

ul.navbar-nav.navbar-left {
    color: transparent;
    font-size: 20px;
    background-color: transparent;
    margin-top: 0;
}

.nav-bg {
    background: none;
    padding-left: 0;
    margin-left: -15px;
}

.wellbeings-menu {
    border-right: 0;
    padding-bottom: 15px;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
    margin-bottom: 0;
}

.tb-megamenu .mega-inner {
    padding: 0;
}

.tb-megamenu .mega-nav > li:first-child > a, .tb-megamenu .dropdown-menu .mega-nav > li:first-child > a {
    margin-top: 10px;
}

.tb-megamenu.style-black .nav-collapse .nav li a {
    font-size: 16px;
}

.tb-megamenu .nav-collapse.collapse.in {
    margin-top: -20px;
}
/*
.tb-megamenu .nav-collapse.collapse.in {
    position: relative;
}*/

.home-banner h1 {
  font-size: 26px;
}

.home-banner h1 {
  margin-top: 10px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4, h5, h6 {
  font-size: 18px;
}

.explore-btn {
  width: 65%;
  margin-right: 20%;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.prod-avail {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.questions, .faq-question {
    margin-left: 30px;
}

.answers, .faq-answer {
    margin-left: 20px;
}

.boots, .tesc, .holland, .marrisons, .defence {
  background: url('../images/prod-avaliable.png') no-repeat;
  background-size: 285px;
}

.boots {
  background-position: 6px 0;
  padding: 0 0 19px 40px;
}

.marrisons {
  background-position: -42px 0px;
  padding: 0 2px 31px 247px;
}

.tesc {
  background-position: -168px 0px;
  padding: 0;
}

.holland {
  background-position: -300px 0px;
  padding: 0;
}

footer .col-sm-6 {
  float: left;
  width: 50%;
}
footer {
  margin-top: 15px;
}

footer p {
  font-size: 14px;
}
.tb-megamenu .btn:first-child {
	display: none !important;
}
.collapse {
	display:none;
}

.page-faq-page #page-title {
	margin-left: 30px;
}

#ajax-data  p, #ajax-data  h3{
    text-align: left;
}

#ajax-data {
    text-align: center;
}
}

