/* This file will hold custom styles for the website */

*{
  margin: 0px;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/GenerikaMGMono-Regular.eot');
    src: url('../fonts/GenerikaMGMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenerikaMGMono-Regular.woff') format('woff'),
         url('../fonts/GenerikaMGMono-Regular.otf') format('opentype'),
         url('../fonts/GenerikaMGMono-Regular.ttf') format('truetype'),
         url('../fonts/GenerikaMGMono-Regular.svg#webfont') format('svg');
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/Generika-Bold.eot');
    src: url('../fonts/Generika-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Generika-Bold.woff') format('woff'),
         url('../fonts/Generika-Bold.otf') format('opentype'),
         url('../fonts/Generika-Bold.ttf') format('truetype'),
         url('../fonts/Generika-Bold.svg#webfont') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: Calibri;
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.otf') format('opentype'),
         url('../fonts/Calibri.ttf') format('truetype'),
         url('../fonts/Calibri.svg#webfont') format('svg');
}

@font-face {
  font-family: Generika;
  font-weight: bold;
  src: url("../fonts/Generika-Bold.otf") format("opentype");
}

body {
  font-family: Calibri;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 16px;
  background-color: #ededed;
}

h1, h2, h3, h4, h5, h6, .navbar-default .navbar-nav>li>a, .btn {
  font-family: Generika;
  text-transform: uppercase;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pl-25 {
  padding-left: 25px;
}

.pl-15 {
  padding-left: 15px;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
}

/* Navigation styles */
.navbar {
  border: none;
  border-radius: 0;  
}

input[type="radio"] {
  vertical-align: top;
}

.slice {
    display: inline-block;
    transform: skew(-25deg);
    background: #fff;
    width: 4px;
    height: 50px;
    float: left;
    margin-left: -16px;
}

.navbar-brand>img {
  display: block;
  position: relative;
  z-index: 100;
}

.navbar-default {
  background: #C20036;
  border: #C20036;
  margin: 0;
  margin-bottom: 30px;
}
.front .navbar-default, .page-products .navbar-default, .node-type-product .navbar-default, .page-node-30 .navbar-default, .page-faqs .navbar-default {
  margin-bottom: 0
}

.navbar-brand {
  float: left;
  height: 96px;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.dropdown-menu {
  min-width: 200px;
}

ul.navbar-nav.navbar-left {
  margin-top: 27px;
  margin-left: 23px;
}

.collapse {
	display:block;
}

.dropdown-menu.columns-3 {
  min-width: 730px;
  color: #fff;
  margin-left: -36px;
}

.navbar-default .navbar-nav>li>a, .btn {
  color: #fff;
}

.page-user .btn {
  position: relative;
}

.page-user li a {
  background-image: none;
  background-position: 0;
  background-repeat: no-repeat;
  padding: 0;
}

.page-user .nav>li>a {
  padding: 10px 15px;
}

.page-user .btn:hover, button:hover {
  color: #A1A1A1;
}

.page-user li:last-child a {
  background-image: none;
  padding-right: 15px;
}

.navbar-default .navbar-nav>li>a:hover, .btn:hover {
  text-decoration: underline;
  color: #fff;
}

.nav>li>a {
  padding: 10px 41px 10px 65px;
}

.tb-megamenu.style-black .dropdown-menu {
  background-color: #C20036;
  margin-top: 21px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .tb-megamenu.style-black .nav > .active > a, .tb-megamenu.style-black .nav > .active > a:hover, .tb-megamenu.style-black .nav > .active > a:focus, .tb-megamenu-item.level-3.mega.active.active-trail a {
  color: #fff !important;
  background-color: #C20036;
  text-decoration: underline;
}

.tb-megamenu.animate .mega.open > .mega-dropdown-menu, .tb-megamenu.animate .mega.animating.open > .mega-dropdown-menu {
  margin-left: -35px;
}

.tb-megamenu.style-black .nav > li > a {
  border-right: none!important;
  font-weight: normal!important;
  color: #fff!important;
  background: #C20036!important;
  font-family: Generika;
  text-transform: uppercase!important;
  padding: 10px 41px!important;
  font-size: 1em;
}

.tb-megamenu.style-black .nav > li > a:focus, .tb-megamenu.style-black .nav > li > a:hover, .tb-megamenu.style-black .nav-collapse .nav > li.active > a:hover, .tb-megamenu.style-black .nav-collapse .nav > li.active > a:focus, .tb-megamenu.style-black .nav li.dropdown.active > .dropdown-toggle {
  color: #fff!important;
	background-color: #C20036 !important;
  text-decoration: underline;
}

.tb-megamenu.style-black .dropdown-menu li > a:active, .tb-megamenu.style-black .dropdown-menu li > a:hover, .tb-megamenu.style-black .dropdown-menu li > a:focus, .tb-megamenu.style-black .dropdown-submenu:hover > a {
  background: none;
  color: #fff!important;
  text-decoration: underline;    
}

.tb-megamenu-item a {
	background-color: #C20036!important;
	opacity: 1;
}

.tb-megamenu.style-black .dropdown-menu li > a {
  border-top: 0!important;
  padding: 0 0 0 60px!important;
  text-shadow: none!important;
  color: #fff!important;
  font-size: 0.8em;
  font-family: generika;
  text-transform: uppercase;
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
    margin-bottom: 25px;
}

.multi-column-dropdown li:first-child {
  text-align: center;
  margin-bottom: 20px;
}

.multi-column-dropdown {
  list-style: none;
}

.multi-column-dropdown img {
  float: left;
  margin-bottom: 20px;
}

.nav-text {
  margin-left: 25px;
  float: left;
}

.nav-text.single-line{
  margin-top: 12px;
}

.wellbeings-menu  {
  border-right: dotted 3px #fff;
  padding-bottom: 135px;
}
/*.tb-megamenu-column-inner.mega-inner ul li a {
  border-right: 0!important;
}*/

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.2;
  color: #fff;
  white-space: normal;
  font-weight: normal;  
}

.multi-column-dropdown li a:hover, a:hover, a:focus, .multi-column-dropdown li a:focus {
  text-decoration: none;
  color: #A1A1A1;
}

.dropdown-menu {
  font-size: 20px;
  background-color: #1f1f1f;
  font-weight: bold;
}

li a {
  background-image: url('../images/right-border.png');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px!important;
}

.multi-column-dropdown li a, li:last-child a {
  /*background-image: none;*/
  padding-right: 0;
}

ul.links li a{
    background-image: inherit!important;
    padding-left: 45px!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    height: 45px;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
  border-color: #C20036!important;
  color: #fff!important;
  background-color: #C20036!important;
}



/* New menu styles */

.productrange {
  text-align: center;
  background-color: #fff;
  padding-top: 55px;
}

.productrangeicon {
  margin-bottom: 15px;
}

.menu-icon {
  margin: 0 40px;
}

.producticons p{
  margin-top: 10px;
}

.menu-text {
  display: inline-block;
  color: #878787;
  cursor: pointer;
}

.menu-dot {
  border-radius: 50%;
  padding: 2px;
  background-color: #878787;
  display: inline-block;
  margin: 0 20px 3px 20px;
}

/* Footer styles */ 


footer {
  background-color: #2e2e2d;
  min-height: 80px;
  color: #fff;
  padding-top: 18px;
  font-size: 13px;
  margin-top: 50px;
  padding-bottom: 10px;
}

.copyright {
  padding-left: 20px;
  padding-right: 20px;
}

footer a {
  color: #9d9d9c;
}

.divide-line {
  border-right: solid 1px #6e6e6d;
  padding: 13px 0;
  margin: 0 12px;
}

footer p {
  margin: 0;
}

/* Home page styles */

.home-banner {
  background: url("../images/home_banner.jpg") no-repeat;
  background-size: 100%;
  height: 536px;
  position: relative;
}

.home-banner-text h1 {
  margin: 0;
  font-weight: bold;
}

.home-banner-text {
  color: #fff;
  position: absolute;
  left: 56%;
  top: 20%;
  float: right;
}

.column-1, .column-2, .column-3 {
  margin: 45px 0 40px 0;
}

.column-1 {
  padding: 0 0 0 15px;
}

.column-2 {
  padding: 0;
}

.column-3 {
  padding: 0 15px 0 0;
}

.column-1.col-sm-4 img, .column-2.col-sm-4 img, .column-3.col-sm-4 img {
  height: 305px;
}

.products {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.products .btn:hover, .products button:hover {
  color: #fff;
}

.prducts-head {
  position: absolute;
  right: 75px;
  top: 65px;
}

.about-head {
  position: absolute;
  left: 15px;
  top: 50px;
}

.about-head h5 {
  color: #d80f23;
}

.products h1, .products h4 {
  padding: 0;
  margin: 0;
}

.products a h1, .products a h4 {
  color: #000;
}

.product-img {
  text-align: center;
  margin-top: 30px;
}

.product-img.find-formula {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 35px;
}

.btn {
  background-color: #404040;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 10px;
}

.btn-click {
  background-color: #C20036;
  height: 52px;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  display: inline-block;
  border-radius: 0;
  padding: 6px 35px 6px 31px;
  margin-right: -15px;
}

.btn-click-cont {
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
  display: inline-block;
  background: url("../images/right_arrow.png") right center no-repeat;
  padding: 0 20px 0 0;
}

.btn:hover, button:hover {
  color: #A1A1A1;
}

button:hover {
  color: #666;
}

.prod-avail {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
}

.boots, .tesc, .holland, .marrisons, .defence { 
  /*background: url('../images/prod-avaliable.png') no-repeat;*/
}

.defence, .multi, .recovery, .release, .vitd3, .cardio, .endurance, .mfocus { 
  padding: 25px;
}

.boots {
  background-position: 6px 0;
  padding: 0 0 19px 70px;
}

.marrisons {
  background-position: -68px 0px;
  padding: 0 2px 22px 113px;
}

.tesc {
  background-position: -168px 0px;
  padding: 0 2px 22px 143px;
}

.holland {
  background-position: -300px 0px;
  padding: 0 2px 22px 326px;
}

.prod-desc {
  margin-bottom: 20px;
}

.prod-details .prod-desc {
  overflow: hidden;
  position: relative;
  margin-bottom: 0;
  width: 380px;
}

.node-type-product .prod-desc .btn-click, #ajax-data  .prod-desc .btn-click {
  color: #000;
  padding: 16px 26px 6px 20px;
}

#ajax-data {
  background: #e5e5e5;
}

h1.vitamin-title {
  text-align: center;
  margin: 50px 0;
}

p.btn-click-cont-yello {
  background: url("../images/buynow.png") left center no-repeat;
  padding: 20px 15px;
  margin-top: -10px;
  width: 37px;
  float: left;
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
  display: inline-block;
}

.prod-details .prod-desc .prod_img {
  height: 415px;
  max-height: 415px;
  background-image: url("../images/productsdetails_bg.jpg");
  padding-bottom: 65px;
}

.prod-details .prod-desc .btn-click-cont {
  padding: 0 20px 0 0;
  width: 75px;
  float: left;
}

.prod-desc p {
  margin-bottom: 0;
}

.prod-text {
  height: 38px;
  max-height: 38px;
  color: #fff;
  padding: 8px 10px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
  font-family: generika;
}

.related-products {
  background-color: #e3e3e3;
  padding-bottom: 40px;
  margin-top: 25px;
  margin-bottom: -50px;
}

.prod-details li, .formulated-details li, .whatsinit-details li {
  background: url("../images/bulletpoint.png") no-repeat left 10px;
  padding-left: 35px;
  margin-left: 30px;
  line-height: 2em;
}

p.prod-introduction {
  border-left: solid 12px #ffed00;
  padding-left: 25px;
  font-size: 21px;
  font-style: italic;
  margin-left: 0;
  margin-top: 0;
}

.page-node-30 p.prod-introduction {
	border-left: solid 12px #C31E24;
}

p.prod-introduction.Energy.Release, .formula-header.Energy.Release {
  border-left: solid 12px #ffed00;
  background: none;  
}
.forumla-products.Active.Recovery span.active, .forumla-products.Energy.Release span.active, .forumla-products.Mental.Focus span.active, 
.forumla-products.Multi-fit span.active, .forumla-products.Cardio.Health span.active, .forumla-products.Body.Defence span.active, 
.forumla-products.Joint.Endurance span.active, .forumla-products.Vit.D3.Max span.active  {
	color:#000;
}
.formula-header.Energy.Release p, .formula-header.Active.Recovery p, .formula-header.Body.Defence p, .formula-header.Multi-fit p, .formula-header.Mental.Focus p, .formula-header.Vit.D3.Max p, .formula-header.Joint.Endurance p, .formula-header.Cardio.Health p {
  background: none; 
  margin-left: 0!important;
  margin-top: 0!important;
}

.formula-header {
	padding-left: 15px;
}

.formula-header h1, .formula-header h4 {
	margin: 0;
}

p.prod-introduction.Active.Recovery, .formula-header.Active.Recovery {
  border-left: solid 12px #ef5f24;
  background: none;  
}

p.prod-introduction.Body.Defence, .formula-header.Body.Defence {
  border-left: solid 12px #b6cc33;
  background: none;
}

p.prod-introduction.Multi-fit, .formula-header.Multi-fit {
  border-left: solid 12px #814e94;
  background: none;  
}

p.prod-introduction.Mental.Focus, .formula-header.Mental.Focus {
  border-left: solid 12px #0082bd;
  background: none;  
}

p.prod-introduction.Vit.D3.Max, .formula-header.Vit.D3.Max {
  border-left: solid 12px #02bab6;
  background: none;  
}

p.prod-introduction.Joint.Endurance, .formula-header.Joint.Endurance {
  border-left: solid 12px #983289;
  background: none;  
}

p.prod-introduction.Cardio.Health, .formula-header.Cardio.Health {
  border-left: solid 12px #c31e24;
  background: none;  
}

.Energy-Release, .Energy.Release, .Energy.Release p {
  background-color: #ffed00;
}

.Active-Recovery, .Active.Recovery , .Active.Recovery p{
  background-color: #ef5f24;
}

.Body-Defence, .Body.Defence, .Body.Defence p{
  background-color: #b6cc33;
}

.Multi-fit, .btn-click.Multi-fit, .page-node-30 .forumla-products.Multi-fit p {
  background: -moz-linear-gradient(left, #814e94 0%, #3f98b2 50%, #2fc135 85%, #b5eb00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#814e94), color-stop(50%,#3f98b2), color-stop(85%,#2fc135) color-stop(100%,#b5eb00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* IE10+ */
  background: linear-gradient(to right, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* W3C */
}

.Mental-Focus, .Mental.Focus, .Mental.Focus p {
  background-color: #0082bd;
}

.Vit-D3-Max, .Vit.D3.Max, .Vit.D3.Max p {
  background-color: #02bab6;
}

.Joint-Endurance, .Joint.Endurance, .Joint.Endurance p  {
  background-color: #983289;
}

.Cardio-Health, .Cardio.Health , .Cardio.Health p{
  background-color: #c31e24;
}

.mega-group-title {
	pointer-events: none;
}

.products-banner {
  position: relative;
}

.products-bannertext h1, .products-bannertext h4 {
  margin: 0;
}

.products-bannertext {
  position: absolute;
  left: 59%;
  top: 20%;
  float: right;
  color: #fff;
}

.products-bannertext img {
  width: auto!important;
  max-width: 100%;
}

.products-bannertext p {
  margin-bottom: 10px;
}

.products-banner img {
  width: 100%;
}

.prod_img {
  height: 235px;
  overflow: hidden;
  text-align: center;
  max-height: 235px;
  padding-top: 20px;
  background-image: url("../images/products_bg.jpg");
  background-repeat: no-repeat;
  padding-bottom: 20px;
  background-position: top center;
}

.prod-disp {
  margin: 0 53px;
}

.prod-desc-img {
  height: 265px;
  background: none;
  background-color: #d6d6d6;
  text-align: center;
  padding: 10px 0;
}

.prod_img img, .prod-desc-img img {
  max-height: 100%;
}

.prod-desc-text {
  height: 145px;
  background-color: #1e1e1e;
  overflow: hidden;
  color: #fff;
  padding: 15px;
}

.page-products .prod-disp .Wellbeing, .page-products .prod-disp .Energy, .page-products .prod-disp .Performance {
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  background-color: #e7e7e7;
  height: 50px;
  margin: 75px 0 20px 0;
}

.Wellbeing h3, .Energy h3, .Performance h3 {
  padding: 14px 45px 14px 40px;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin-left: -12px;
  background-color: #3c3c3b;
  display: inline-block;
  margin-top: 0;
  font-size: 21px;
}

.Wellbeing h3 span, .Energy h3 span, .Performance h3 span, .formulated p span, .whatsinit p span, .forumla-products p span {
  display: inline-block;
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
}

.Energy-Release .prod-text {
  color: #000;
}

.prod-details {
  margin: 50px 0 70px 0;
  float: left;
  width: 100%;
}

.prod-details .prod-intro-center p, .formula-header {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 5px;
}

ul.bullets {
  padding-left: 40px;
}

.buy-now {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;  
}

.buy-now a, a.explore-range, div.questions a, .faq-question a {
  color: #c20012;
  text-decoration: underline;
}

div.questions a, .faq-question a {
    text-decoration: none;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: -2px;
}

.answers p {
    margin-left: 35px;
}

.answers, .faq-answer {
  /*display: none;*/
  float: left;
}

.small-text {
  font-size: 14px;  
}

.big-text {
  font-size: 24px;
  cursor: pointer;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #000;
}

thead th:first-child, thead th:last-child {
  background-color: #000;
  color: #fff;
}

thead th:nth-child(2){
  background-color: #4b4b4b;
  color: #fff!important;
}

thead tr th:first-child, tbody tr td:first-child {
  text-align: left;
}

tbody tr td, thead tr th {
  text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px 15px;
}

.big-text .caret {
  border-top: 10px dashed;
  border-top: 4px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-right: 4px;
  margin-top: -4px;
}

.tb-megamenu .nav .dropdown .dropdown-toggle .caret {
  display: inline-block !important;
  border-top-color: #fff!important;
  border-bottom-color: #fff!important;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.caret-right {
  border-left: 10px dashed;
  border-left: 4px solid\9;
  margin-right: 10px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  margin-top: -4px;
}

.expand , .faq-question.faq-qa-visible {
  background: url("../images/expand.png") no-repeat 0 5px;
}

.condense, .faq-question {
  background: url("../images/condense.png") no-repeat 0 1px;
}

.questions a, .faq-question a {
	float: left;
    margin-left: 10px;
    margin-top: -13px;
}

.faq-question-answer {
    margin-left: 20px;
}

.questions, .answers, .faq-question, .faq-answer {
  float: left;
  width: 100%;
}

.questions, .faq-question {
  margin-bottom: 10px;
}

.answers, .faq-answer {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-top: -10px;
}

.whats-it {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
  margin-bottom: 30px;
  display: none;
}

.formulated, .whatsinit, .forumla-products {
  width: 51.1%;
  float: left;
  overflow: hidden;
  font-family: generika;
}

.forumla-products {
  width: 34.85%;
}

.formulated p, .whatsinit p, .forumla-products p {
  color: #878787;
  background-color: #e7e7e7;
  height: 50px;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  padding-top: 12px;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  margin-bottom: 0;
  margin-left: -12px;
}

.formulated.active p, .forumla-products p {
  background-color: #3c3c3b;
  color: #fff;
  margin-left: -12px;
  margin-right: 12px;
}
.whatsinit.active p{
  background-color: #3c3c3b;
  color: #fff;
}

.forumla-products p {
  margin-right: 16px;
}

.whatsinit, .forumla-colors {
  margin-left: -24px;
}

.whatsinit p, .forumla-colors p,  .forumla-colors p.last {
  margin-left: 12px;
  margin-right: -12px;
}

.forumla-colors p {
  margin-right: 12px;
}

.formulated-details, .whatsinit-details {
  float: left;
  margin-top: 40px;
  margin-bottom: 50px;
}

.formulated-details li, .whatsinit-details li {
  margin-left: 0;
}

/*.page-node-30 .col-sm-12 {
	margin-left: 24px;
}*/

.prod-disp .col-sm-12 h1+div:first-of-type {
	margin-left: 0;
}

.bd, .ar, .er, .mf, .vd3, .ch, .je, .mfs {
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: -5px;
}

.vitamin-intro-text {
  margin: 80px 0 50px 0;
}

.bd {
  border: solid 9px #b6cc33;
}

.ar {
  border: solid 9px #ef5f24;
}

.er {
  border: solid 9px #ffed00;
}

.mf {
  border: solid 9px #814e94;
}

.vd3 {
  border: solid 9px #02bab6;
}

.ch {
  border: solid 9px #c31e24;
}

.je {
  border: solid 9px #983289;
}

.mfs {
  border: solid 9px #0082bd;
}

.producticons li {
  display: inline-block;
}

li.product-name {
  margin-right: 50px;
}


/* Find your formula styles */

label {
  font-weight: normal;
}

table.formula-desc td {
  text-align: left;
}

.well-details, .energy-details, .perf-details {
  float: left;
  background-color: #D6D6D6;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.well-details p, .energy-details p, .perf-details p {
  margin-bottom: 10px;
}

.formul-mainblcok input[type="radio"] {
  float: right;
}

 
.faq-content {
  margin: 0px auto;
}

#content #page-title {
  display:none;
}

.page-faq-page #page-title {
	text-align: left;
	display: block !important;
	margin-left: 161px;
}

.select-benefit {
  width: 31%;
  color: #fff;
  background-color: #d80f23;
  text-align: center;
  text-transform: uppercase;
  font-family: generika;
  margin: 0;
  padding: 5px 10px;
  height: 35px;
}

.select-benefit-arrow {
  border-radius: 50%;
  margin-top: -20px;
}

.product-benefits {
  position: relative;
  float: left;
  margin: 30px 0;
}

.products-bg {
  background: -moz-linear-gradient(45deg, #cccccc 0%, #E8E8E8 45%,#EDEDED 58%, #c5c5c5 80%, #bcbcbc 100%);
  background: -webkit-linear-gradient(45deg, #cccccc 0%, #E8E8E8 45%,#EDEDED 58%, #c5c5c5 80%, #bcbcbc 100%);
  background: -o-linear-gradient(45deg, #cccccc 0%, #E8E8E8 45%,#EDEDED 58%, #c5c5c5 80%, #bcbcbc 100%);
  background: -ms-linear-gradient(45deg, #cccccc 0%, #E8E8E8 45%,#EDEDED 58%, #c5c5c5 80%, #bcbcbc 100%);
  background: linear-gradient(45deg, #cccccc 0%, #E8E8E8 45%,#EDEDED 58%, #c5c5c5 80%, #bcbcbc 100%);
  height: 49px;
  width: 217px;
  font-size: 14px;
  font-family: generika;
  text-transform: uppercase;
  padding: 17px 45px 0 15px;
  float: left;
  line-height: 1em;
  cursor: pointer;
}

.products-icon {
  /*background-image: url("../images/product_icons.png");
  background-repeat: no-repeat;
  padding: 36px 0;
  width: 95px;
  height: 95px;*/
  position: absolute;
  top: -23px;
  right: -50px;
  cursor: pointer;
}

/*.heart {
  background-position: -392px 0;
}

.bones {
  background-position: -686px 0;
}

.immune {
  background-position: -588px 0;
}

.muscle {
  background-position: -491px 0;
}

.general-health {
  background-position: -294px 0;
}

.brain {
  background-position: -784px 0;
}

.hair {
  background-position: -196px 0;
}

.anti-fatigue {
  background-position: 0 0;
}

.energy-support {
  background-position: -98px 0;
}

.heart:hover, .heart:active {
  background-position: -392px -98px;
}

.bones:hover, .bones:active {
  background-position: -686px -98px;
}

.immune:hover, .immune:active {
  background-position: -588px -98px;
}

.muscle:hover, .muscle:active {
  background-position: -491px -98px;
}

.general-health:hover, .general-health:active {
  background-position: -294px -98px;
}

.brain:hover, .brain:active {
  background-position: -784px -98px;
}

.hair:hover, .hair:active {
  background-position: -196px -98px;
}

.anti-fatigue:hover, .anti-fatigue:active {
  background-position: 0 -98px;
}

.energy-support:hover, .energy-support:active {
  background-position: -98px -98px;
}*/

/*#ajax-image
{
    width: 16px;
    height: 16px;
    background-image:url(../images/loading.png);
    font-size: 0px;
    display: inline-block;
}*/
#ajax-image {
  background:url(../images/loading.png) no-repeat center center; 
  height: 316px;  
}

.home-banner a {
  color: #000;
}

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }

#logo img {
  width: 180px;
}

.navbar-brand {
  height: 50px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 14px;
}

h5 {
  font-size: 12px;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar-nav .open .dropdown-menu {
  background-color: #C20036!important;
}

.formulated p, .whatsinit p, .forumla-products p {
  height: 30px;
  padding: 10px 12px 5px 2px;
  line-height: 11px;
  font-size: 11px;
}

.product-benefits {
    margin: 30px 0 15px 0;
    float: none;
    width: 92%;
    display: inline-block;
}

.products-bg, .select-benefit {
    width: 100%;
}

.products-icon {
    top: -30%;
    right: -10%;
}

.tb-megamenu.style-black .dropdown-menu {
  margin-top: 0;
}

  label {
  width: 90%;

}
.node-type-product .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a, .page-products .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a{
  background-color: #333333;
}
 
.formul-mainblcok input[type="radio"] {
  margin-top: -18px;
}

.navbar-nav>li>a {
  padding-bottom: 21px;
  padding-top: 21px;
}

.formulated-details, .whatsinit-details {
  margin-top: 40px;
  margin-bottom: 50px;
}

label {
  width: 90%;
}

body {
  font-size: 14px;
}

.home-banner {
  height: 155px;
}

.home-banner-text {
  left: 53%;
  top: 4%;
}

.home-banner-text h1 {
  margin: 0;
  font-size: 18px;
}

.home-banner-text h3 {
  font-size: 14px;
  margin: 0;
}

.home-banner-text p {
  margin: 7px 0;
}

.column-1.col-sm-4 img, .column-2.col-sm-4 img, .column-3.col-sm-4 img {
  height: auto;
  width: 100%;
}

h1.vitamin-title {
  text-align: center;
  margin: 30px 0;
}

.page-node-30 .forumla-products p {
    text-align: center!important;
}

.column-1.col-sm-4 .about-head img {
  width: 64%;
  height: auto;
}

.slice {
    width: 3px;
    height: 30px;
    float: left;
    margin-left: -4%;
    position: relative;
    right: 1%;
    z-index: 100;
}

.prducts-head {
  left: 45%;
  top: 30%;
  right: 0;
}

.prducts-head h1 {
  color: #fff;
}

.prducts-head h1 {
  font-size: 2.5em;
}

.prducts-head h4 {
  font-size: 1.5em;
}

.about-head h5 {
  font-size: 1.2em;
}

.about-head {
  left: 6%;
  top: 18%;
}

.column-1, .column-2, .column-3 {
  padding: 0 15px;
  margin: 20px 0 15px 0;
}

.home-banner-text p img {
  max-width: 40%;
}

.prod_img {
  background-size: 100%;
}

div.questions a, .faq-question a {
  margin-left: 24px;
  padding-right: 15px;
}

.answers p {
  margin-left: 0;
}

ul.navbar-nav.navbar-left {
  background-color: transparent;
  color: transparent;
  font-size: 20px;
  margin-top: 0;
}

.nav-bg {
    background: none;
    padding-left: 0;
    margin-left: -15px;
}

.wellbeings-menu {
    border-right: 0;
    padding-bottom: 15px;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
    margin-bottom: 0;
}

.tb-megamenu .mega-inner {
    padding: 0;
}

.tb-megamenu .mega-nav > li:first-child > a, .tb-megamenu .dropdown-menu .mega-nav > li:first-child > a {
    margin-top: 10px;
}

.tb-megamenu.style-black .nav-collapse .nav li a {
    font-size: 16px;
}

.tb-megamenu.style-black .nav-collapse .nav > li > a, .tb-megamenu.style-black .nav-collapse .dropdown-menu a {
  border-top-color: #fff!important;
}

.explore-btn {
  width: 65%;
  margin-right: 20%;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.prod-avail {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.questions, .faq-question {
    margin-left: 0;
}

.answers, .faq-answer {
  margin-left: 20px;
  padding-right: 15px;
}

.boots, .tesc, .holland, .marrisons, .defence {
  background: url('../images/prod-avaliable.png') no-repeat;
  background-size: 285px;
}

.boots {
  background-position: 6px 0;
  padding: 0 0 19px 40px;
}

.marrisons {
  background-position: -42px 0px;
  padding: 0 2px 31px 247px;
}

.tesc {
  background-position: -168px 0px;
  padding: 0;
}

.holland {
  background-position: -300px 0px;
  padding: 0;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px 10px;
}

.products-bannertext {
  left: 54%;
  top: 18%;
}

.formulated p span {
  margin-left: 15px;
  margin-top: -5px;
}

.products-bannertext img {
  max-width: 55%;
}

.products-bannertext h1 {
  font-size: 18px;
}

.prod-disp {
  margin: 0;
}

/*.page-node-30 .prod-disp {
  margin: 20px 0 15px 0;
  float: none;
}*/

.vitamin-intro-text {
  margin: 20px 0 15px 0;
  float: none;
}

p.prod-introduction {
  padding-left: 15px;
}

.page-node-30 .forumla-products.Multi-fit p {
	height: 30px;
}

.page-node-30 .forumla-products {
    width: 37.85%;
}

.page-products .prod-disp .Wellbeing, .page-products .prod-disp .Energy, .page-products .prod-disp .Performance {
  height: 30px;
  margin: 15px 0;
}

.Wellbeing h3, .Energy h3, .Performance h3 {
  padding: 6px 25px 5px 25px;
  font-size: 16px;
}

.forumla-colors {
  margin-left: -7%;
}

.forumla-colors p {
    margin-right: 1%;
}

.forumla-colors p {
    margin-left: 6%;
}

.buy-now {
  font-size: 18px;
  margin: 15px 0;
}

footer .col-sm-6 {
  float: left;
  width: 50%;
}

.divide-line {
  padding: 6px 0;
  margin: 0 6px;
}

.prod-details {
  margin: 15px 0 20px 0;
  float: none;
}

.prod-details .prod-desc {
  width: auto;
}

.prod-details .prod-intro-center p, .formula-header, .prod-details li, .formulated-details li, .whatsinit-details li {
  margin-left: 0;
  text-align: left;
}

.prod-details .prod-desc .prod_img {
  height: 315px;
  max-height: 315px;
}

footer {
  margin-top: 15px;
  padding-bottom: 15px;
}

footer p {
  font-size: 12px;
}

footer p.col-md-5.col-xs-12, footer p.col-md-7.col-xs-12 {
  text-align: center;
}

footer p.col-md-7.col-xs-12.mt-10 img:last-child {
  max-width: 40%;
}

footer p.col-md-7.col-xs-12.mt-10 img, footer p.col-md-7.col-xs-12.mt-10 img:first-child {
  max-width: 15%;
}

footer p.col-md-7.col-xs-12.mt-10 span:first-child {
  display: block;
}

.copyright {
  padding-left: 5px;
  padding-right: 5px;
}

.tb-megamenu .btn:first-child {
  display: none !important;
}
.collapse {
  display:none;
}

.page-faq-page #page-title {
  margin-left: 30px;
}

#ajax-data  p, #ajax-data  h3{
    text-align: left;
}

#ajax-data {
    text-align: center;
}
.questions, .faq-question {
  margin-left: 0;
}

.answers, .faq-answer {
  margin-left: 20px;
}

.tb-megamenu.style-black .nav-collapse .nav li a {
  font-size: 16px;
  padding-top: 12px!important;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
  margin-bottom: 5px;
}

}


@media (max-width: 990px) {
	.node-type-product .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a, .page-products .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a{
		background-color: #C20036;
	}
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .navbar-nav {
        float: none!important;
		margin: 0 -25px;
		padding: 0;

    }

    .navbar-nav>li {
        float: none;
    }

    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

	.tb-megamenu .mega-inner {
  padding: 0 0 0 10px;
}

.tb-megamenu .nav-collapse, .tb-megamenu .nav-collapse.collapse {
  margin-top: -27px;
}

.tb-megamenu.style-black .nav-collapse, .tb-megamenu.style-black .nav-collapse .dropdown-menu{
  background-color: #C20036!important;
} 

.tb-megamenu.style-black .dropdown-menu li > a {
  padding: 10px 0 0 60px!important;
}

.tb-megamenu .nav-collapse .dropdown-menu li + li a {
  margin-bottom: 10px;
}
.navbar-nav {
  float: none!important;
  margin: 0 -25px;
  padding: 0;
  margin-top: 0!important;
}

.tb-megamenu .btn-navbar {
  display: none!important;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
  margin-bottom: 25px!important;
  border-right: 0!important;
  display: inline!important;
}

.tb-megamenu.style-black .dropdown-menu li > a {
  padding: 10px 0 0 60px!important;
  margin-left: 0;
}

.the-range .formul-mainblcok .col-sm-2 {
	font-weight:bold;
}

}

@media (max-width: 979px){
  .tb-megamenu.style-black .nav-collapse, .tb-megamenu.style-black .nav-collapse .dropdown-menu {
    background-color: #C20036!important;
  }
}

@media (min-device-width: 768px) and (max-device-width: 991px){
  .col-md-7.col-xs-12.mt-10, footer  {
    text-align: center;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {

.column-1.col-sm-4 img, .column-2.col-sm-4 img, .column-3.col-sm-4 img {
  height: auto;
}
.select-benefit {
    line-height: 20px;
}

.product-benefits {
    width: 85%;
}

.products-bg {
    width: 100%;
}

.home-banner {
  height: 350px;
}

.home-banner-text {
  left: 54%;
  top: 8%;
}

h1 {
  font-size: 36px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

.home-banner-text h3 {
  font-size: 22px;
  margin: 0;
}

label {
  margin-top: 2px;
}

.home-banner-text p {
  margin-bottom: 10px;
}

.column-1, .column-2, .column-3 {
  margin: 25px 0 15px 0;
}

.tb-megamenu .row-fluid .span4 {
  width: 30%!important;
}

.tb-megamenu .row-fluid [class*="span"] {
  margin-left: 0!important;
}

.prod-details {
  margin: 20px 0 25px 0;
}

.prducts-head {
  right: 0;
  top: 17%;
  left: 24%;
}

.column-1.col-sm-4 .about-head img {
  width: 55%;
  height: auto;
}

.column-1.col-sm-4 img, .column-2.col-sm-4 img, .column-3.col-sm-4 img {
  height: 252px;
}

.about-head {
  left: 2%;
  top: 10%;
}

.prod-disp {
  margin: 0;
}

.prod-details .prod-desc .prod_img {
  height: 305px;
  max-height: 305px;
  padding-bottom: 65px;
  background-size: 100%;
  background-position: top center;
}

.prod-details .prod-desc {
  width: auto;
}

}

