/* This file will hold custom styles for the website */

*{
  margin: 0px;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/GenerikaMGMono-Regular.eot');
    src: url('../fonts/GenerikaMGMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenerikaMGMono-Regular.woff') format('woff'),
         url('../fonts/GenerikaMGMono-Regular.otf') format('opentype'),
         url('../fonts/GenerikaMGMono-Regular.ttf') format('truetype'),
         url('../fonts/GenerikaMGMono-Regular.svg#webfont') format('svg');
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/Generika-Bold.eot');
    src: url('../fonts/Generika-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Generika-Bold.woff') format('woff'),
         url('../fonts/Generika-Bold.otf') format('opentype'),
         url('../fonts/Generika-Bold.ttf') format('truetype'),
         url('../fonts/Generika-Bold.svg#webfont') format('svg');
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: Calibri;
    src: url('../fonts/Calibri.eot');
    src: url('../fonts/Calibri.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Calibri.woff') format('woff'),
         url('../fonts/Calibri.otf') format('opentype'),
         url('../fonts/Calibri.ttf') format('truetype'),
         url('../fonts/Calibri.svg#webfont') format('svg');
}

@font-face {
  font-family: Generika;
  font-weight: bold;
  src: url("../fonts/Generika-Bold.otf") format("opentype");
}

body {
  font-family: Calibri;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, .navbar-default .navbar-nav>li>a, .btn {
  font-family: Generika;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
}

img {
  max-width: 100%;
}

.pl-25 {
  padding-left: 25px;
}

.pl-15 {
  padding-left: 15px;
}

.mt-0 {
  margin-top: 0;
}

.mt-10 {
  margin-top: 10px;
}

p {
  line-height: 24px;
  margin-bottom: 20px;
}

/* Navigation styles */
.navbar {
  border: none;
  border-radius: 0;
}

.navbar-brand>img {
  display: block;
  position: relative;
  z-index: 100;
}

.navbar-default {
  background: #C20036;
  border: #C20036;
  margin: 0;
}

.navbar-brand {
  float: left;
  height: 96px;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.dropdown-menu {
  min-width: 200px;
}

ul.navbar-nav.navbar-left {
  margin-top: 30px;
  margin-left: 23px;
}

.collapse {
	display:block;
}

.dropdown-menu.columns-3 {
  min-width: 730px;
  color: #fff;
  margin-left: -36px;
}

.navbar-default .navbar-nav>li>a, .btn {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .btn:hover {
  text-decoration: underline;
  color: #fff;
}

.nav>li>a {
  padding: 10px 41px 10px 65px;
}

.tb-megamenu.style-black .dropdown-menu {
  background-color: #C20036;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .tb-megamenu.style-black .nav > .active > a, .tb-megamenu.style-black .nav > .active > a:hover, .tb-megamenu.style-black .nav > .active > a:focus, .tb-megamenu-item.level-3.mega.active.active-trail a {
  color: #fff !important;
  background-color: #C20036;
}

.tb-megamenu.animate .mega.open > .mega-dropdown-menu, .tb-megamenu.animate .mega.animating.open > .mega-dropdown-menu {
  margin-left: -35px;
}

.tb-megamenu.style-black .nav > li > a {
  border-right: none!important;
  font-weight: normal!important;
  color: #fff!important;
  background: #C20036!important;
  font-family: Generika;
  text-transform: uppercase!important;
  padding: 10px 41px!important;
}

.tb-megamenu.style-black .nav > li > a:focus, .tb-megamenu.style-black .nav > li > a:hover, .tb-megamenu.style-black .nav-collapse .nav > li.active > a:hover, .tb-megamenu.style-black .nav-collapse .nav > li.active > a:focus, .tb-megamenu.style-black .nav li.dropdown.active > .dropdown-toggle {
  color: #fff!important;
	background-color: #C20036 !important;
  text-decoration: underline;
}

.tb-megamenu.style-black .dropdown-menu li > a:hover, .tb-megamenu.style-black .dropdown-menu li > a:focus, .tb-megamenu.style-black .dropdown-submenu:hover > a {
  background: none;
  color: #fff!important;
  text-decoration: underline;    
}

.tb-megamenu-item a {
	background-color: #C20036!important;
	opacity: 1;
}

.tb-megamenu.style-black .dropdown-menu li > a {
  border-top: 0!important;
  padding: 0 0 0 60px!important;
  text-shadow: none!important;
  color: #fff!important;
  font-size: 0.8em;
  font-family: generika;  
}

.dropdown-menu li a {
  padding: 5px 15px;
  font-weight: 300;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
    margin-bottom: 25px;
}

.multi-column-dropdown li:first-child {
  text-align: center;
  margin-bottom: 20px;
}

.multi-column-dropdown {
  list-style: none;
}

.multi-column-dropdown img {
  float: left;
  margin-bottom: 20px;
}

.nav-text {
  margin-left: 25px;
  float: left;
}

.nav-text.single-line{
  margin-top: 12px;
}

.wellbeings-menu {
  border-right: dotted 3px #fff;
  padding-bottom: 135px;
}
/*.tb-megamenu-column-inner.mega-inner ul li a {
  border-right: 0!important;
}*/

.multi-column-dropdown li a {
  display: block;
  clear: both;
  line-height: 1.2;
  color: #fff;
  white-space: normal;
  font-weight: normal;  
}

.multi-column-dropdown li a:hover, a:hover, a:focus, .multi-column-dropdown li a:focus {
  text-decoration: none;
  color: #A1A1A1;
}

.dropdown-menu {
  font-size: 20px;
  background-color: #1f1f1f;
  font-weight: bold;
}

li a {
  background-image: url('../images/right-border.png');
  background-position: right center;
  background-repeat: no-repeat;
  padding-right: 30px!important;
}

.multi-column-dropdown li a, li:last-child a {
  /*background-image: none;*/
  padding-right: 0;
}

ul.links li a{
    background-image: inherit!important;
    padding-left: 45px!important;
    background-repeat: no-repeat!important;
    background-position: left!important;
    height: 45px;
}

.tb-megamenu .nav li.dropdown.active > .dropdown-toggle, .tb-megamenu .nav li.dropdown.open.active > .dropdown-toggle, .tb-megamenu .nav > li.dropdown.open.active > a:hover {
    background-color: transparent!important;
    border-color: transparent!important;
    color: #A1A1A1!important;
}

/* Footer styles */ 


footer {
  background-color: #2e2e2d;
  min-height: 80px;
  color: #fff;
  padding-top: 18px;
  margin-top: 20px;
  font-size: 13px;
}

.copyright {
  padding-left: 20px;
  padding-right: 20px;
}

footer a {
  color: #9d9d9c;
}

.divide-line {
  border-right: solid 1px #6e6e6d;
  padding: 13px 0;
  margin: 0 12px;
}

footer p {
  margin: 0;
}

/* Home page styles */

.home-banner {
  background: url("../images/home_banner.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 536px;
  position: relative;
}

.home-banner-text h1 {
  margin: 0;
}

.home-banner-text {
  color: #fff;
  position: absolute;
  right: 12%;
  top: 23%;
  text-align: center;
}

.column-1, .column-2, .column-3 {
  float: left;
  width: 33.33%;
  display: block;
  margin: 45px 0 40px 0;
}

.column-1 {
  background: url("../images/find_formula.png") no-repeat;
  background-size: 100%;
  height: 303px;
}

.column-2 {
  background: url("../images/fullrange.png") no-repeat;
  background-size: 100%;
  height: 303px;
} 

.column-3 {
  background: url("../images/about.png") no-repeat;
  background-size: 100%;
  height: 303px;
} 

.products {
  height: 303px;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.products .btn:hover, .products button:hover {
  color: #fff;
}

.prducts-head {
  position: absolute;
  right: 75px;
  top: 65px;
}

.about-head {
  position: absolute;
  left: 15px;
  top: 50px;
}

.about-head h5 {
  color: #d80f23;
}

.products h1, .products h4 {
  padding: 0;
  margin: 0;
}

.products a h1, .products a h4 {
  color: #000;
}

.product-img {
  text-align: center;
  margin-top: 30px;
}

.product-img.find-formula {
  position: absolute;
  bottom: 0;
  z-index: -1;
  right: 35px;
}

.btn {
  background-color: #404040;
  color: #fff;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 3px 10px;
}

.btn-click {
  background-color: #C20036;
  height: 52px;
  -ms-transform: skewX(-25deg);
  -webkit-transform: skewX(-25deg);
  transform: skewX(-25deg);
  display: inline-block;
  border-radius: 0;
  padding: 6px 35px 6px 31px;
  margin-right: -15px;
}

.btn-click-cont {
  -ms-transform: skewX(25deg);
  -webkit-transform: skewX(25deg);
  transform: skewX(25deg);
  display: inline-block;
  background: url("../images/right_arrow.png") right center no-repeat;
  padding: 0 20px 0 0;
}

.btn:hover, button:hover {
  color: #A1A1A1;
}

button:hover {
  color: #666;
}

.prod-avail {
  text-align: right;
  margin-top: 40px;
  margin-bottom: 20px;
}

.boots, .tesc, .holland, .marrisons, .defence { 
  background: url('../images/prod-avaliable.png') no-repeat;
}

.defence, .multi, .recovery, .release, .vitd3, .cardio, .endurance, .mfocus { 
  padding: 25px;
}

.boots {
  background-position: 6px 0;
  padding: 0 0 19px 70px;
}

.marrisons {
  background-position: -68px 0px;
  padding: 0 2px 22px 113px;
}

.tesc {
  background-position: -168px 0px;
  padding: 0 2px 22px 143px;
}

.holland {
  background-position: -300px 0px;
  padding: 0 2px 22px 326px;
}

.prod-desc {
  margin-bottom: 20px;
}

.prod-desc p {
  margin-bottom: 0;
}

.prod-text {
  background-color: #1e1e1e;
  height: 38px;
  max-height: 38px;
  color: #fff;
  padding: 8px 10px;
  overflow: hidden;
  text-align: center;
  text-transform: uppercase;
  font-size: 13px;
}

.energy-release {
  background-color: #ffed00;
}

.act-recovery {
  background-color: #ef5f24;
}

.body-defence {
  background-color: #b6cc33;
}

.multi-fit {
  background: -moz-linear-gradient(left, #814e94 0%, #3f98b2 50%, #2fc135 85%, #b5eb00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#814e94), color-stop(50%,#3f98b2), color-stop(85%,#2fc135) color-stop(100%,#b5eb00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* IE10+ */
  background: linear-gradient(to right, #814e94 0%, #3f98b2 50%,#2fc135 85%, #b5eb00 100%); /* W3C */
}

.mental-focus {
  background-color: #0082bd;
}

.vid-d3 {
  background-color: #02bab6;
}

.joint-endurance {
  background-color: #983289;
}

.cardio-health {
  background-color: #c31e24;
}

.products-banner img {
  width: 100%;
}

.prod_img {
  height: 235px;
  overflow: hidden;
  text-align: center;
  max-height: 235px;
  padding-top: 20px;
  background-image: url("../images/products_bg.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.prod-disp {
  margin: 0 53px;
}

.prod-desc-img {
  height: 265px;
  background: none;
  background-color: #d6d6d6;
  text-align: center;
  padding: 10px 0;
}

.prod_img img, .prod-desc-img img {
  max-height: 100%;
}

.prod-desc-text {
  height: 145px;
  background-color: #1e1e1e;
  overflow: hidden;
  color: #fff;
  padding: 15px;
}

.Wellbeing h3, .Energy h3, .Performance  h3{
  height: 35px;
  padding: 2px 0 0 10px;
  margin: 20px 0 10px 0;
}

.wellbeing h3, .energy h3 , .performance h3 {
  margin: 0;
}

/*.Wellbeing {
  background: -moz-linear-gradient(left, #6a6a6c 0%, #ffffff 85%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6a6a6c), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(left, #6a6a6c 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(left, #6a6a6c 0%,#ffffff 85%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(left, #6a6a6c 0%,#ffffff 85%); /* IE10+ */
  /*background: linear-gradient(to right, #6a6a6c 0%,#ffffff 85%); /* W3C */
/*}

.Energy {
  background: -moz-linear-gradient(left, #db8a2a 0%, #ffffff 85%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#db8a2a), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(left, #db8a2a 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(left, #db8a2a 0%,#ffffff 85%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(left, #db8a2a 0%,#ffffff 85%); /* IE10+ */
  /*background: linear-gradient(to right, #db8a2a 0%,#ffffff 85%); /* W3C */
/*}

.Performance {
  background: -moz-linear-gradient(left, #6ac5f0 0%, #ffffff 85%); /* FF3.6+ */
  /*background: -webkit-gradient(linear, left top, right top, color-stop(0%,#6ac5f0), color-stop(85%,#ffffff)); /* Chrome,Safari4+ */
  /*background: -webkit-linear-gradient(left, #6ac5f0 0%,#ffffff 85%); /* Chrome10+,Safari5.1+ */
  /*background: -o-linear-gradient(left, #6ac5f0 0%,#ffffff 85%); /* Opera 11.10+ */
  /*background: -ms-linear-gradient(left, #6ac5f0 0%,#ffffff 85%); /* IE10+ */
  /*background: linear-gradient(to right, #6ac5f0 0%,#ffffff 85%); /* W3C */
/*}*/

.prod-details {
  margin: 100px 0 70px 0;
  float: left;
  font-size: 20px;
}

ul.bullets {
  padding-left: 40px;
}

.buy-now {
  font-size: 24px;
  font-weight: bold;
  margin: 30px 0;  
}

.buy-now a, a.explore-range, div.questions a, .faq-question a {
  color: #c20012;
  text-decoration: underline;
}

div.questions a, .faq-question a {
    text-decoration: none;
    float: left;
    width: 100%;
    margin-bottom: 15px;
    margin-left: 25px;
    margin-top: -7px;
}

.answers p {
    margin-left: 35px;
}

.answers, .faq-answer {
  /*display: none;*/
  float: left;
}

.small-text {
  font-size: 14px;  
}

.big-text {
  font-size: 24px;
  cursor: pointer;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #000;
}

thead th:first-child, thead th:last-child {
  background-color: #000;
  color: #fff;
}

thead th:nth-child(2){
  background-color: #4b4b4b;
  color: #fff!important;
}

thead tr th:first-child, tbody tr td:first-child {
  text-align: left;
}

tbody tr td, thead tr th {
  text-align: center;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 8px 15px;
}

.big-text .caret {
  border-top: 10px dashed;
  border-top: 4px solid\9;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  margin-right: 4px;
  margin-top: -4px;
}
.tb-megamenu .nav .dropdown .dropdown-toggle .caret {
	display: inline-block !important;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid\9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.caret-right {
  border-left: 10px dashed;
  border-left: 4px solid\9;
  margin-right: 10px;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  margin-top: -4px;
}

.expand , .faq-question.faq-qa-visible {
  background: url("../images/expand.png") no-repeat;
}

.condense, .faq-question {
  background: url("../images/condense.png") no-repeat;
}

.questions a, .faq-question a {
	float: left;
    margin-left: 10px;
    margin-top: -13px;
}

.faq-question-answer {
    margin-left: 20px;
}

.questions, .answers, .faq-question, .faq-answer {
  float: left;
  width: 100%;
}

.questions, .faq-question {
  margin-bottom: 10px;
}

.answers, .faq-answer {
    margin-bottom: 10px;
    margin-left: -10px;
    margin-top: -10px;
}

.whats-it {
  border-bottom: 1px solid #000;
  padding-bottom: 40px;
  margin-bottom: 30px;
  display: none;
}

/* Find your formula styles */

label {
  font-weight: normal;
}

table.formula-desc td {
  text-align: left;
}

.well-details, .energy-details, .perf-details {
  float: left;
  background-color: #D6D6D6;
  padding: 20px 0;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 100%;
}

.well-details p, .energy-details p, .perf-details p {
  margin-bottom: 10px;
}

.formul-mainblcok input[type="radio"] {
  float: right;
}

 
.faq-content {
  margin: 0px auto;
}

#content #page-title {
  display:none;
}

.page-faq-page #page-title {
	text-align: left;
	display: block !important;
	margin-left: 161px;
}
/*#ajax-image
{
    width: 16px;
    height: 16px;
    background-image:url(../images/loading.png);
    font-size: 0px;
    display: inline-block;
}*/
#ajax-image {
   height: 316px;  
  background:url(../images/loading.png) no-repeat center center; 
}

.home-banner a {
  color: #000;
}

@media (max-width: 767px) {
  .dropdown-menu.multi-column {
    min-width: 240px !important;
    overflow-x: hidden;
  }

  label {
  width: 90%;

}
.node-type-product .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a, .page-products .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a{
  background-color: #333333;
}
 
.formul-mainblcok input[type="radio"] {
  margin-top: -18px;
}

.navbar-nav>li>a {
  padding-top: 21px;
  padding-bottom: 21px;
}
label {
  width: 90%;
}
body {
  font-size: 16px;
}

#logo img {
  width: 125px;
}

div.questions a, .faq-question a {
  margin-left: 16px;
}

.answers p {
  margin-left: 0;
}

ul.navbar-nav.navbar-left {
    color: transparent;
    font-size: 20px;
    background-color: transparent;
    margin-top: 0;
}

.nav-bg {
    background: none;
    padding-left: 0;
    margin-left: -15px;
}

.wellbeings-menu {
    border-right: 0;
    padding-bottom: 15px;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
    margin-bottom: 0;
}

.tb-megamenu .mega-inner {
    padding: 0;
}

.tb-megamenu .mega-nav > li:first-child > a, .tb-megamenu .dropdown-menu .mega-nav > li:first-child > a {
    margin-top: 10px;
}

.tb-megamenu.style-black .nav-collapse .nav li a {
    font-size: 16px;
}

.tb-megamenu .nav-collapse.collapse.in {
    margin-top: -20px;
}

.home-banner h1 {
  font-size: 26px;
}

.home-banner h1 {
  margin-top: 10px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

h4, h5, h6 {
  font-size: 18px;
}

.explore-btn {
  width: 65%;
  margin-right: 20%;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.prod-avail {
  text-align: right;
  margin-top: 20px;
  margin-bottom: 10px;
}

.questions, .faq-question {
    margin-left: 0;
}

.answers, .faq-answer {
    margin-left: 20px;
}

.boots, .tesc, .holland, .marrisons, .defence {
  background: url('../images/prod-avaliable.png') no-repeat;
  background-size: 285px;
}

.boots {
  background-position: 6px 0;
  padding: 0 0 19px 40px;
}

.marrisons {
  background-position: -42px 0px;
  padding: 0 2px 31px 247px;
}

.tesc {
  background-position: -168px 0px;
  padding: 0;
}

.holland {
  background-position: -300px 0px;
  padding: 0;
}

footer .col-sm-6 {
  float: left;
  width: 50%;
}
footer {
  margin-top: 15px;
}

footer p {
  font-size: 14px;
}
.tb-megamenu .btn:first-child {
  display: none !important;
}
.collapse {
  display:none;
}

.page-faq-page #page-title {
  margin-left: 30px;
}

#ajax-data  p, #ajax-data  h3{
    text-align: left;
}

#ajax-data {
    text-align: center;
}
.questions, .faq-question {
  margin-left: 0;
}

.answers, .faq-answer {
  margin-left: 20px;
}

.tb-megamenu.style-black .nav-collapse .nav li a {
  font-size: 16px;
  padding-top: 12px!important;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
  margin-bottom: 5px;
}

}


@media (max-width: 990px) {
	.node-type-product .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a, .page-products .nav-collapse ul li.tb-megamenu-item.level-1.mega.active.active-trail a{
		background-color: #333333;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin: 0 -25px;
		padding: 0;

    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
	.tb-megamenu .mega-inner {
  padding: 10px;
}

.tb-megamenu .nav-collapse, .tb-megamenu .nav-collapse.collapse {
  margin-top: -27px;
}


.tb-megamenu.style-black .dropdown-menu li > a {
  padding: 10px 0 0 60px!important;
}

.tb-megamenu .nav-collapse .dropdown-menu li + li a {
  margin-bottom: 10px;
}
.navbar-nav {
  float: none!important;
  margin: 0 -25px;
  padding: 0;
  margin-top: 0!important;
}

.tb-megamenu .btn-navbar {
  display: none!important;
}

.tb-megamenu .mega-nav > li, .tb-megamenu .dropdown-menu .mega-nav > li {
  margin-bottom: 25px!important;
  border-right: 0!important;
  display: inline!important;
}

.tb-megamenu.style-black .dropdown-menu li > a {
  padding: 10px 0 0 60px!important;
  margin-left: 0;
}

.the-range .formul-mainblcok .col-sm-2 {
	font-weight:bold;
}

}