/* This file will hold custom styles for the website */

*{
  margin: 0px;
}

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/GenerikaMGMono-Regular.eot');
    src: url('../fonts/GenerikaMGMono-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/GenerikaMGMono-Regular.woff') format('woff'),
         url('../fonts/GenerikaMGMono-Regular.otf') format('opentype'),
         url('../fonts/GenerikaMGMono-Regular.ttf') format('truetype'),
         url('../fonts/GenerikaMGMono-Regular.svg#webfont') format('svg');
}

@font-face {
    font-weight: bold;
    font-style: normal;
    font-family: Generika;
    src: url('../fonts/Generika-Bold.eot');
    src: url('../fonts/Generika-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Generika-Bold.woff') format('woff'),
         url('../fonts/Generika-Bold.otf') format('opentype'),
         url('../fonts/Generika-Bold.ttf') format('truetype'),
         url('../fonts/Generika-Bold.svg#webfont') format('svg');
}

@font-face {
  font-family: Generika;
  font-weight: bold;
  src: url("../fonts/Generika-Bold.otf") format("opentype");
}


body {
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 20px;
}

h1 {
  font-size: 44px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

/* Main Navigation */

.navbar {
  border: none;
  border-radius: 0;
}

.navbar-default {
  background-color: #d80f22;
  border-color: #d80f22;
  margin: 0;
}

.navbar-brand {
  float: left;
  height: 96px;
  padding: 0;
  font-size: 0;
  line-height: 0;
}

.navbar-left {
  margin-top: 33px;
  margin-left: 49px;
}

.navbar-default .navbar-nav>li>a {
  font-size: 0.8em;
}

.navbar-default .navbar-nav>li>a, .btn {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:hover, .btn:hover {
  text-decoration: underline;
  color: #fff;
}

.nav>li>a {
  padding: 10px 41px;
}

/* Home page body styles */

.home-banner {
  background: url("../images/home_banner.jpg") no-repeat;
  background-size: 100%;
  width: 100%;
  height: 536px;
}

.home-banner-text h1 {
  margin: 0;
}

.home-banner-text {
  color: #fff;
}

.btn-click {
  background-color: #d80f22;
  height: 52px;
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
  border-radius: 0;
  padding: 6px 50px;
}

/* Footer styles */ 

footer {
  background-color: #2e2e2e;
  min-height: 77px;
  color: #fff;
  padding-top: 28px;
  margin-top: 35px;
}

footer a {
  color: #fff;
}

footer p {
  margin: 0;
}


@media (max-width: 767px) {}